.index_container {
background-size: cover;
background-image: url('https://www.kastatic.org/images/homepage-bg-leaves.png');
background-repeat: no-repeat;
background-position: center;
background-color: #8e4c9b;
max-width: inherit;
border-bottom: 1px solid #ddd;
position: relative;
color: #fff!important;
height:635px;
max-height: 635px;
}

#index_cover {
margin: 0;
padding: 30px;
border: 0;
font: inherit;
vertical-align: baseline;
}

#index_cover h1 {
font-size: 60px;
text-shadow: 6px 3px 0 #882F78,9px 8px 0 rgba(0,0,0,0.15);
}

#index_cover p {
font-size: 24px;
}

.nextdoor-bottom {
background: #2c3747;
font-size: 15px;
position: absolute;
bottom: 0;
text-transform: uppercase;
width: 100%;
}

.nextdoor-bottom .nextdoor-row {
min-width: 1000px;
max-width: 1200px;
position: relative;
margin: 0 auto;
}

.nextdoor-bottom .nextdoor-row a.nextdoor-item1 {
width: 21.6%;
}

.nextdoor-bottom .nextdoor-row a.nextdoor-item2 {
width: 19.5%;
}

.nextdoor-bottom .nextdoor-row a.nextdoor-item3 {
width: 30.8%;
}

.nextdoor-bottom .nextdoor-row a.nextdoor-item4 {
width: 26.8%;
}

.nextdoor-bottom .nextdoor-row a {
padding: 30px 0;
display: inline-block;
float: left;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
text-align: center;
text-decoration: none;
font: inherit;
color: #fff;
}

#homepage-signup-callout-container .nextdoor-bottom a {
color: #fff!important;
}

.nextdoor-bottom a:hover {background:#3a485d;text-decoration:none}

#carousel-example-captions {
margin-top: 20px;
}
