.index_cover {
background-size: cover;
background-image: url('https://www.kastatic.org/images/homepage-bg-leaves.png');
background-repeat: no-repeat;
background-position: center;
background-color: #8e4c9b;
max-width: inherit;
border-bottom: 1px solid #ddd;
position: relative;
}
