.navbar-primary .navbar { background: #2c3747; border-bottom:none; }
.navbar-primary .navbar .nav > li > a {color: #bbb;}
.navbar-primary .navbar .nav > li > a:hover {color: #fff; background-color: #3a485d;}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color: #fff;background-color: #3a485d;}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff; border-bottom-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover,
.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff; background-color: #fff; color: #89b908; border-color: #000;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar    .nav > li.dropdown.open > a .caret {border-top-color: #3a485d;}
.navbar-primary .navbar .nav > li.dropdown.open a.dropdown-toggle .caret {border-top-color: #3a485d;}
.navbar-primary .navbar .navbar-brand {color:#fff;}