{% extends 'base.html' %}
{% load i18n %}

{% block container %}
        <div class="content">
            <ul>
                <li><a href="{% url "registration_register" %}">{% trans "注册" %}</a></li>
                <li><a href="{% url "auth_login" %}">{% trans "登录" %}</a></li>
                <li><a href="{% url "auth_logout" %}">{% trans "登出" %}</a></li>
                <li><a href="{% url "auth_password_change" %}">{% trans "修改密码" %}</a></li>
                <li><a href="{% url "auth_password_reset" %}">{% trans "重置密码" %}</a></li>
            </ul>
        </div>
{% endblock %}