{% extends 'base.html' %}
{% load i18n %}

{% block container %}
        <div class="content">
            <div class="page-header">
                <h1>Crike <small>{% trans "Sample using Bootstrap from Twitter with django-registration" %}</small></h1>
            </div>
            <ul>
                <li><a href="{% url "django.contrib.auth.views.login" %}">{% trans "Log in" %}</a></li>
                <li><a href="{% url "django.contrib.auth.views.logout" %}">{% trans "Log out" %}</a></li>
                <li><a href="{% url "django.contrib.auth.views.password_change" %}">{% trans "Change password" %}</a></li>
                <li><a href="{% url "django.contrib.auth.views.password_reset" %}">{% trans "Reset my password" %}</a></li>
            </ul>
        </div>
{% endblock %}