{% extends 'base.html' %}
{% load i18n %}

{% block container %}
    <div class="content">
        {% if form.errors %}
            <div class="alert alert-block fade in">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p><strong>{% trans "啊哦！" %}</strong> {% trans "请输入正确的用户名与密码，注意大小写。" %}</p>
            </div>
        {% endif %}
        <form action="{% url "django.contrib.auth.views.login" %}" method="post" id="login-form">{% csrf_token %}
            <fieldset>
                <legend>{% trans '登录' %}</legend>
                {% for field in form %}
                    {% include 'registration/form_field.html' %}
                {% endfor %}
                <div class="actions">
                    <input type="submit" class="btn primary" value="{% trans '登录' %}">&nbsp;<button type="reset" class="btn">{% trans '取消' %}</button>
                </div>
            </fieldset>
        </form>
        <p><a href="{% url "django.contrib.auth.views.password_reset" %}">{% trans "密码重置" %}</a></p>
        <script type="text/javascript">
            $(function(){
                $(".alert-message").alert();
                $('#mainForm').submit(function(){
                    $('#submit').button('loading');
                })
            });
            document.forms[1].elements[2].focus();
        </script>
    </div>
{% endblock %}