{% extends 'base.html' %}
{% load i18n %}

{% block container %}
<div class="content">
    {% if form.errors %}
        <div class="alert alert-block fade in">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <p>{% blocktrans count form.errors.items|length as counter %}请修正以下错误。{% plural %}请修正以下错误。{% endblocktrans %}</p>
        </div>
    {% endif %}
    <div>
    <form action="." method="post" id='mainForm'>{% csrf_token %}
        <fieldset>
            <legend>{% trans '修改密码' %}</legend>
            <div class="clearfix">
                <div class="input">
                    {% trans "请输入你的旧密码，并输入新密码两次以保证一致。 " %}
                </div>
            </div>
            {% for field in form %}
                {% include 'registration/form_field.html' %}
            {% endfor %}
            <div class="actions">
                <button id='submit' type="submit" class="btn primary">{% trans '修改密码' %}</button>&nbsp;<button type="reset" class="btn">{% trans '取消' %}</button>
            </div>
        </fieldset>
        <script type="text/javascript">
            $(function(){
                $(".alert-message").alert();
                $('#mainForm').submit(function(){
                    $('#submit').button('loading');
                })
            });
            document.forms[0].elements[2].focus();
        </script>
    </form>
    </div>
</div>


{% endblock %}