{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Registration{% endblock %}

{% block content %}

<div class="row">
    <div class="span12 ">
        <form class="form-horizontal" method="post" action="{% url 'registration_register' %}">
            <legend>注册</legend>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn">注册</button>
              </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
