{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
    <link href="/static/index.css" rel="stylesheet" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
      function showUploadform() {
        if (!$("#uploadform").is(":visible")) {
          $("#deleteform").hide();
          $(".checkbook").hide();
          $("#uploadform").show();
        } else {
          $("#uploadform").hide();
        }
      };
      function showDeleteform() {
        if (!$("#deleteform").is(":visible")) {
          $("#uploadform").hide();
          $("#deleteform").show();
          $(".checkbook").show();

        } else {
          $("#deleteform").hide();
          $(".checkbook").hide();
        }
      };
      function appendbook(cb) {
        var n = cb.name;
        var v = cb.value;
        if (cb.checked) { 
          $(cb).clone().attr({id:v+'inform',class:'checkbookinform',style:'display:none'}).prependTo('#deleteform');
          $("."+v+"lesson").show();
          $("#checkall"+v).show();
          $(".checkbook").prop('disabled', true);
          cb.disabled=false;
          $("#deletesubmit").prop('disabled', false);
        } else {
          $('#'+v+'inform').remove();
          $("."+v+"lessoninform").remove();
          $("."+v+"lesson").prop('checked',false);
          $("."+v+"lesson").hide();
          $(".checkall").prop('checked',false);
          $("#checkall"+v).hide();
          $(".checkbook").prop('disabled', false);
          $("#deletesubmit").prop('disabled', true);
        }
      };
      function appendlesson(cb) {
        if (cb.checked) { 
          $(cb).clone().attr({id:cb.value+'inform',class:cb.class+'inform',style:'display:none'}).prependTo('#deleteform');
        } else {
          $('.checkall').prop('checked', false);
          $('#'+cb.value+'inform').remove();
        }
      };
      function checkall(cb,v) {
        if (cb.checked) {
          $("."+v+"lessoninform").remove();//need remove added lessons then add all
          $("."+v+"lesson").prop('checked',true);
          $("."+v+"lesson").each(function() {
              $(this).clone().attr({id:this.value+'inform','class':v+"lessoninform",style:'display:none'}).prependTo('#deleteform');
           });
        } else {
          $("."+v+"lesson").prop('checked',false);
          $("."+v+"lessoninform").remove();
        }
      };
      function expandBook(me, book) {
        var content = $('#contentOf'+book);
        if (content.is(":visible")) {
          content.hide();
          $(me).prop('class','fa fa-caret-right');
        } else {
          content.show();
          $(me).prop('class','fa fa-caret-down');
        }
      };
    </script>
    <div class="jumbotron">
      <h1>Crike -- 课程管理</h1>
      <button class="btn btn-success btn-lg" onclick="showUploadform();">添加课程</button>
      <button class="btn btn-danger  btn-lg" onclick="showDeleteform();">删除课程</button>
      {% if Showform == "uploadform" %}
      <form id='uploadform' style="display: block" enctype="multipart/form-data" method="post" action="/admin/books/">
      {% else %}
      <form id='uploadform' style="display: none" enctype="multipart/form-data" method="post" action="/admin/books/">
      {% endif %}
        {% csrf_token %}
        {{ Uploadform|crispy }}
        <input hidden='true' name='extra' value='add'>
        <input type="submit" value="upload" onclick="this.disabled=true; this.value='Please Wait...';$('#uploadform').submit();">
        <strong>{{ Uploadwarning }}</strong>
      </form>
      {% if Showform == "deleteform" %}
      <form id="deleteform" style="display:block" enctype="multipart/form-data" method="post" action="/admin/books/">
      {% else %}
      <form id="deleteform" style="display:none" enctype="multipart/form-data" method="post" action="/admin/books/">
      {% endif %}
        {% csrf_token %}
        <label>请选择要删除的课程（先勾选所属课本）</label>
        <input hidden='true' name='extra' value='delete'>
        <input id="deletesubmit" type="submit" disabled="true" value="delete">
        <strong>{{ Deletewarning }}</strong>
      </form>
    </div>
<!-- Cycle through entries -->
    {% for book in books %}
    <h2><a href="#"><i class="fa fa-caret-right" style="font-size:80%" onclick="expandBook(this, '{{book.name}}')"></i></a>
      <input class="checkbook" style="display:none" type="checkbox" name='delbook' value='{{book.name}}' onclick="appendbook(this);">
      {{ book.name }}
      <div id="checkall{{book.name}}" style="display:none">
        <input class="checkall" type="checkbox" onclick="checkall(this,'{{book.name}}')">
        <label style="font-size:50%" for="checkall{{book.name}}">全选</label>
      </div>
    </h2>
    <div class="row" id="contentOf{{book.name}}" style="display:none">
      {% for lesson in book.lessons|dictsort:"name" %}
      <div class="col-6 col-sm-6 col-lg-2">  
        <input type="checkbox" class="{{book.name}}lesson" style="display: none" name='dellessons' value='{{lesson.name}}' onclick="appendlesson(this);">
        <a class="pin" title="修改" style="width:100%;" href='/admin/book/{{book.name}}/lesson/{{lesson.name}}/'>
          {{lesson.name}}
          <label style="color:sienna;float:right;">sum:{{lesson.words|length}}</label>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    <span id="dummy"></span>
{% endblock %}
