{% extends 'base.html' %}

{% block content %}
    <link href="/static/index.css" rel="stylesheet" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
      function showUploadform() {
        if (document.getElementById("uploadform").style.display == "none") {
          document.getElementById("deleteform").style.display="none";
          document.getElementById("uploadform").style.display="block";
        } else {
          document.getElementById("uploadform").style.display="none";
        }
      };
      function showDeleteform() {
        if (document.getElementById("deleteform").style.display == "none") {
          document.getElementById("uploadform").style.display="none";
          document.getElementById("deleteform").style.display="block";
          $(".checkbook").show();

        } else {
          document.getElementById("deleteform").style.display="none";
          $(".checkbook").hide();
        }
      };
      function appendbook(cb) {
        var n = cb.name;
        var v = cb.value;
        if (cb.checked) { 
          $(cb).clone().attr({id:v+'inform',class:'checkbookinform',style:'display:none'}).prependTo('#deleteform');
          console.log($('#deleteform').html());
          $("."+v+"lesson").show();
          $("#checkall"+v).show();
          $(".checkbook").prop('disabled', true);
          cb.disabled=false;
          $("#deletesubmit").prop('disabled', false);
        } else {
          $('#'+v+'inform').remove();
          $("."+v+"lessoninform").remove();
          $("."+v+"lesson").prop('checked',false);
          $("."+v+"lesson").hide();
          $(".checkall").prop('checked',false);
          $("#checkall"+v).hide();
          $(".checkbook").prop('disabled', false);
          $("#deletesubmit").prop('disabled', true);
        }
      };
      function appendlesson(cb) {
        if (cb.checked) { 
          $(cb).clone().attr({id:cb.value+'inform',class:cb.class+'inform',style:'display:none'}).prependTo('#deleteform');
        } else {
          $('.checkall').prop('checked', false);
          $('#'+cb.value+'inform').remove();
        }
      };
      function checkall(cb,v) {
        if (cb.checked) {
          $("."+v+"lessoninform").remove();//need remove added lessons then add all
          $("."+v+"lesson").prop('checked',true);
          $("."+v+"lesson").each(function() {
              $(this).clone().attr({id:this.value+'inform','class':v+"lessoninform",style:'display:none'}).prependTo('#deleteform');
           });
        } else {
          $("."+v+"lesson").prop('checked',false);
          $("."+v+"lessoninform").remove();
        }
      };
    </script>
    <div class="jumbotron">
      <h1>Crike -- 课程管理</h1>
      <button onclick="showUploadform();">添加课程</button>
      <button onclick="showDeleteform();">删除课程</button>
      {% if Showform == "uploadform" %}
      <form id='uploadform' style="display: block" enctype="multipart/form-data" method="post" action="/admin/books/">
      {% else %}
      <form id='uploadform' style="display: none" enctype="multipart/form-data" method="post" action="/admin/books/">
      {% endif %}
        {% csrf_token %}
        {{ Uploadform }}
        <input hidden='true' name='extra' value='add'>
        <input type="submit" value="upload">
        <strong>{{ Uploadwarning }}</strong>
      </form>
      {% if Showform == "deleteform" %}
      <form id="deleteform" style="display:block" enctype="multipart/form-data" method="post" action="/admin/books/">
      {% else %}
      <form id="deleteform" style="display:none" enctype="multipart/form-data" method="post" action="/admin/books/">
      {% endif %}
        {% csrf_token %}
        <label>请选择要删除的课程（先勾选所属课本）</label>
        <input hidden='true' name='extra' value='delete'>
        <input id="deletesubmit" type="submit" disabled="true" value="delete">
        <strong>{{ Deletewarning }}</strong>
      </form>
    </div>
<!-- Cycle through entries -->
    <div class='row'>
    {% for book in books %}
      <h2>
        <input class="checkbook" style="display:none" type="checkbox" name='delbook' value='{{book.name}}' onclick="appendbook(this);">
        {{ book.name }}
        <div id="checkall{{book.name}}" style="display:none">
          <input class="checkall" type="checkbox" onclick="checkall(this,'{{book.name}}')">
          <label style="font-size:50%" for="checkall{{book.name}}">全选</label>
        </div>
      </h2>
      {% for lesson in book.lessons|dictsort:"name" %}
      <p>
        <input type="checkbox" class="{{book.name}}lesson" style="display: none" name='dellessons' value='{{lesson.name}}' onclick="appendlesson(this);">
        <a title="开始学习" href="/study/book/{{book.name}}/lesson/{{lesson.name}}/show">{{lesson.name}}</a>
        <code style="color:sienna;margin-left:20px;">sum:{{lesson.words|length}}</code>
        <button style="float: right;" onclick="location.href='/admin/book/{{book.name}}/lesson/{{lesson.name}}/'">管理单词</button>
      </p>
      {% endfor %}

    {% endfor %}
    </div>
    <span id="dummy"></span>
{% endblock %}
