{% extends 'base.html' %}

{% block content %}


    <link href="/static/index.css" rel="stylesheet" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
    </script>
    <div class="jumbotron">
      <h1>Crike -- Dictionaries</h1>
      <form method="get" action="/upload/">
        <input type="submit" value="upload">
      </form>
    </div>
<!-- Cycle through entries -->
    <div class='row'>
    {% for dic in Dicts %}
      <h2> {{ dic.name }}</h2>
      {% for lesson in dic.lessons|dictsort:"name" %}
      <p>
        <a title="查看" href="/lesson_show?dic={{dic.name}}&lesson={{lesson.name}}">{{lesson.name}}</a>
        <code style="color:sienna;margin-left:20px;">sum:{{lesson.words|length}}</code>
        <button style="float: right;" onclick="location.href='/show/{{dic.name}}/{{lesson.name}}/'">管理</button>
      </p>
      {% endfor %}

    {% endfor %}
    </div>
    <span id="dummy"></span>
{% endblock %}
