{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<link href="/static/index.css" rel="stylesheet" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script language="javascript" type="text/javascript">
$(function() {

  var books = "{"+{% for book in books %}"'{{book}}':'{{book}}',"+{% endfor %}"}";

  $(".editable_select").editable(function(value, settings){
    $(this).html(value);
    $('p[id^="lessonsOf"]').hide();
    $(this).parents('form').find('#lessonsOf'+value).show();
    }, {
    indicator : '<img src="img/indicator.gif">',
    data   : books,
    type   : "select",
    submit : 'OK',
    style  : "inherit",
    tooltip : "点击修改",
    submitdata : function() {
      return {id : 2};
    }
  });
  $(".editable_select_json").editable("<?php print $url ?>save.php", { 
    indicator : '<img src="img/indicator.gif">',
    loadurl : "<?php print $url ?>json.php",
    type   : "select",
    submit : "OK",
    style  : "inherit"
  });
  $(".editable_examname").editable(function(value, settings){
      var names = $('.editable_examname').not(this)
                                         .map(function() {
                                                return $(this).text();
                                              }).get();
      if ($.inArray(value, names) == -1){
        $(this).html(value);
        $(this).parent('h2').find('#modified').show();
        $(this).parent('h2').find('button').show();
      }
    else
      $(this).html("名称已存在，请重命名");
    }, { 
      type   : 'text',
      select : true,
      submit : "√",
      cancel : "×",
      tooltip : "点击修改",
  });
  $(".editable_textarea").editable("<?php print $url ?>save.php", { 
      indicator : "<img src='img/indicator.gif'>",
      type   : 'textarea',
      submitdata: { _method: "put" },
      select : true,
      submit : 'OK',
      cancel : 'cancel',
      cssclass : "editable"
  });
  $(".editable_textile").editable("<?php print $url ?>save.php?renderer=textile", { 
      indicator : "<img src='img/indicator.gif'>",
      loadurl   : "<?php print $url ?>load.php",
      type      : "textarea",
      submit    : "OK",
      cancel    : "Cancel",
      tooltip   : "Click to edit..."
  });
  
  $(".click").editable("<?php print $url ?>echo.php", { 
      indicator : "<img src='img/indicator.gif'>",
      tooltip   : "Click to edit...",
      style  : "inherit"
  });
  $(".dblclick").editable("<?php print $url ?>echo.php", { 
      indicator : "<img src='img/indicator.gif'>",
      tooltip   : "Doubleclick to edit...",
      event     : "dblclick",
      style  : "inherit"
  });
  $(".mouseover").editable("<?php print $url ?>echo.php", { 
      indicator : "<img src='img/indicator.gif'>",
      tooltip   : "Move mouseover to edit...",
      event     : "mouseover",
      style  : "inherit"
  });
  
  /* Should not cause error. */
  $("#nosuch").editable("<?php print $url ?>echo.php", { 
      indicator : "<img src='img/indicator.gif'>",
      type   : 'textarea',
      submit : 'OK'
  });

});

function showExamform() {
  if (!$("#newexamform").is(":visible")) {
    $("#deleteform").hide();
    $(".checkexam").hide();
    $("#newexamform").show();
  } else {
    $("#newexamform").hide();
  }
};
function showDeleteform() {
  if (!$("#deleteform").is(":visible")) {
    $("#newexamform").hide();
    $("#deleteform").show();
    $(".checkexam").show();

  } else {
    $("#deleteform").hide();
    $(".checkexam").hide();
  }
};
function appendexam(cb) {
  var n = cb.name;
  var v = cb.value;
  if (cb.checked) { 
    $(cb).clone().attr({id:v+'inform',class:'checkexaminform',style:'display:none'}).prependTo('#deleteform');
    $("."+v+"lesson").show();
    $("#checkall"+v).show();
    $(".checkexam").prop('disabled', true);
    cb.disabled=false;
    $("#deletesubmit").prop('disabled', false);
  } else {
    $('#'+v+'inform').remove();
    $("."+v+"lessoninform").remove();
    $("."+v+"lesson").prop('checked',false);
    $("."+v+"lesson").hide();
    $(".checkall").prop('checked',false);
    $("#checkall"+v).hide();
    $(".checkexam").prop('disabled', false);
    $("#deletesubmit").prop('disabled', true);
  }
};
function appendlesson(cb) {
  if (cb.checked) { 
    $(cb).clone().attr({id:cb.value+'inform',class:cb.class+'inform',style:'display:none'}).prependTo('#deleteform');
  } else {
    $('.checkall').prop('checked', false);
    $('#'+cb.value+'inform').remove();
  }
};
function checkall(cb,v) {
  if (cb.checked) {
    $("."+v+"lessoninform").remove();//need remove added lessons then add all
    $("."+v+"lesson").prop('checked',true);
    $("."+v+"lesson").each(function() {
        $(this).clone().attr({id:this.value+'inform','class':v+"lessoninform",style:'display:none'}).prependTo('#deleteform');
     });
  } else {
    $("."+v+"lesson").prop('checked',false);
    $("."+v+"lessoninform").remove();
  }
};
function saveExam(me) {
  var form = $(me).parents('form');//or closest('form')
  var name = $(form).find('.editable_examname').html();
  var names = $('.editable_examname').not($(form).find('.editable_examname'))
              .map(function() {
                     return $(this).text();
                   }).get();
  if ($.inArray(name, names) == -1) {
    $('<input>').attr({name:'name', value:name, hidden:'true'}).appendTo(form);
    $(form).submit();
  }else
    $(form).find('.editable_examname').html("名称已存在，请重命名");
};
function onDoubleclickpin(pin) {
  var id = $(pin).find('input').attr('value');
  var form = $(pin).parents('form'); 
  $(form).find( "input:checkbox[id="+id+"]" ).prop('checked', false);
  $(pin).parents('form').find('h2 button').show();
  $(pin).remove();
};
function onChecklesson(me, book, name, length) {
  if (me.checked) {
    $(me).parents('form').find('h2 button').show();
    $(me).parents('form').find('#addnew').before(
        '<div class="col-6 col-sm-6 col-lg-2" ondblclick="onDoubleclickpin(this)">'+
        '<a class="pin" style="width:100%" title="双击删除">'+
        '<input name="addlessons" value='+me.id+' hidden="true">'
        +book+'/'+name+
        '<label style="color:sienna;float:right;">sum:'+length+
        '</label></a></div>');
  }
};
function expandExam(me) {
  var content = $(me).parents('form').find('.content');
  if (content.is(":visible")) {
    content.hide();
    $(me).prop('class','fa fa-caret-right');
  } else {
    content.show();
    $(me).prop('class','fa fa-caret-down');
  }
};
</script>

<div class="jumbotron">
  <h1>Crike -- 试题管理</h1>
  <button class="btn btn-success btn-lg" onclick="showExamform();">添加试卷</button>
  <button class="btn btn-danger  btn-lg" onclick="showDeleteform();">删除试卷</button>
</div>
<!-- add new item -->
<form id='newexamform' style="display: none" method="post" action="/admin/exams/">
  {% csrf_token %}
  <h2>新增：<b class="editable_examname" id="text_1">Click to input a name</b>&nbsp&nbsp*
    <button onclick="saveExam(this);" class="btn btn-success" style="float:right;display=none">
      <i class="fa fa-save"></i></button>
  </h2>
  <h4>词汇测验</h4>
  <p>课本:<b class="editable_select" id="select_1" style="display: inline">点击选择</b></p>
  {% for book in books %}
  <p id="lessonsOf{{book.name}}" style="display:none">
    选择课程
    {% for lesson in book.lessons|dictsort:"name" %}
    <input type='checkbox' id="{{lesson.id}}" onclick="onChecklesson(this,'{{book.name}}','{{lesson.name}}','{{lesson.words|length}}');">
    {{lesson.name}}
    {% endfor %}
  </p>
  {% endfor %}
  <div class='row'></div>
  <h4>阅读理解</h4>
</form>

{% if Showform == "deleteform" %}
<form id="deleteform" style="display:block" enctype="multipart/form-data" method="post" action="/admin/exams/">
{% else %}
<form id="deleteform" style="display:none" enctype="multipart/form-data" method="post" action="/admin/exams/">
{% endif %}
  {% csrf_token %}
  <label>请选择要删除的试卷</label>
  <input hidden='true' name='extra' value='delete'>
  <input id="deletesubmit" type="submit" disabled="true" value="delete">
  <strong>{{ Deletewarning }}</strong>
</form>
<!-- Cycle through entries -->
{% for exam in exams %}
<form id='examform' method="post" action="/admin/exams/">
  {% csrf_token %}
  <input name='id' value="{{exam.id}}" hidden="true">
  <h2><a style="cursor:pointer;"><i class="fa fa-caret-right" style="font-size:80%" onclick="expandExam(this)"></i></a>
    <b class="editable_examname" id="text_1">{{exam.name}}</b>
    <b id="modified" style="display:none">&nbsp&nbsp*</b>
    <button onclick="saveExam(this);" class="btn btn-success" style="float:right;display:none">
      <i class="fa fa-save"></i></button>
  </h2>
  <div class="content" style="display:none">
    <h4>词汇测验</h4>
  <!-- vocabularies -->
    <div class='row'>
      {% for lesson in exam.lessons|dictsort:"name" %}
      <div class="col-6 col-sm-6 col-lg-2" ondblclick="onDoubleclickpin(this)">
        <a class="pin" style="width:100%" title="双击删除">
          <input name="addlessons" value='{{lesson.id}}' hidden="true">
          {{lesson.book.name}}/{{lesson.name}}
          <label style="color:sienna;float:right;">sum:{{lesson.words|length}}</label>
        </a>
      </div>
      {% endfor %}
      <div id="addnew" class="col-6 col-sm-6 col-lg-2">
        <p>课本:<b class="editable_select" id="select_1" style="display: inline">点击选择</b></p>
        {% for book in books %}
        <p id="lessonsOf{{book.name}}" style="display:none">
          选择课程
          {% for lesson in book.lessons|dictsort:"name" %}
          <input type='checkbox' id="{{lesson.id}}" onclick="onChecklesson(this,'{{book.name}}','{{lesson.name}}','{{lesson.words|length}}');">
          {{lesson.name}}
          {% endfor %}
        </p>
        {% endfor %}
      </div>
    </div>
  <!-- reading comprehensions -->
    <h4>阅读理解</h4>
    {% for reading in exam.readings %}
      {{reading.name}}<br><!--TODO editable reading areas-->
      <button class="btn btn-success" onclick="showExamform();">添加</button>
    {% endfor %}
  </div>
</form>
{% endfor %}

<span id="dummy"></span>
{% block body_footer %}
<script src="{% static 'jeditable/jquery.jeditable.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% endblock %}
