{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<link href="/static/index.css" rel="stylesheet" type="text/css"/>
<script src="{% static 'jquery/2.0.3/jquery.min.js' %}"></script>
<script language="javascript" type="text/javascript">
  var books = "{"+{% for book in books %}"'{{book}}':'{{book}}',"+{% endfor %}"}";
  var lessons = "";
  var lessonsOfbooks = {
    {% for book in books %}
    "{{book.name}}":"{"+
      {% for lesson in book.lessons %}
    "'{{lesson}}:{{lesson.words|length}}|{{lesson.id}}':'{{lesson}}:{{lesson.words|length}}',"+
      {% endfor %}"}",
    {% endfor %}
  };

function init_jeditable() {

  $('input:radio').attr('onclick', 
      '$(this).parents("form").find("#modified").show();'+
      '$(this).parents("form").find("button").show();');

  $(".editable_selectbook").editable(function(value, settings){
    $(this).html(value);
    lessons = lessonsOfbooks[value];
    $(this).parents('form').find('#select_2').parent('p').remove();
    $(this).parent('p').after('<p><script>$(".editable_selectlesson").editable(function(value, settings){'+
        '$(this).html(value);onSelectlesson(this,"'+value+'",value);}, {data:'+lessons+
        ',type:"select",submit:"OK",style:"inherit",tooltip:"点击修改",});'+
        '<\/script><b class="editable_selectlesson" id="select_2" style="display:inline;">点击选择课程</b></p>');
    }, {
    indicator : '<img src="img/indicator.gif">',
    data   : books,
    type   : "select",
    submit : 'OK',
    style  : "inherit",
    tooltip : "点击修改",
    submitdata : function() {
      return {id : 2};
    }
  });
  $(".editable_examname").editable(function(value, settings){
      var names = $('.editable_examname').not(this)
                                         .map(function() {
                                                return $(this).text();
                                              }).get();
      if ($.inArray(value, names) == -1){
        $(this).html(value);
        $(this).parent('h2').find('#modified').show();
        $(this).parent('h2').find('button').show();
      } else
        $(this).html("名称已存在，请重命名");
    }, { 
      type   : 'text',
      select : true,
      submit : "√",
      cancel : "×",
      tooltip : "点击修改",
  });
  $(".editable_readingname").editable(function(value, settings){
      var names = $(this).parents('form')
                         .find('.editable_readingname').not(this)
                                                    .map(function() {
                                                           return $(this).text();
                                                         }).get();
      if ($.inArray(value, names) == -1){
        $(this).html(value);
        $(this).parent('h2').find('#modified').show();
        $(this).parent('h2').find('button').show();
      } else
        $(this).html("名称已存在，请重命名");
    }, { 
      type   : 'text',
      select : true,
      submit : "√",
      cancel : "×",
      tooltip : "点击修改",
  });
  $(".autogrow_article").editable(function(value, settings) {
        value = value.replace(/\n/g, '<br>');
        $(this).html(value);
        $(this).parents('form').find('#modified').show();
        $(this).parents('form').find('button').show();
      }, { 
      type      : "autogrow",
      submit    : 'OK',
      cancel    : 'cancel',
      tooltip   : "Click to edit...",
      onblur    : "ignore",
      autogrow : {
         lineHeight : 32,
         minHeight  : 32
      },
  });
  $(".autogrow_question").editable(function(value, settings) {
        value = value.replace(/\n/g, '<br>');
        $(this).html(value);
        $(this).parents('form').find('#modified').show();
        $(this).parents('form').find('button').show();
      }, { 
      type      : "autogrow",
      submit    : 'OK',
      cancel    : 'cancel',
      tooltip   : "Click to edit...",
      onblur    : "ignore",
      autogrow : {
         lineHeight : 32,
         minHeight  : 32
      },
  });
  $(".autogrow_choice").editable(function(value, settings) {
        value = value.replace(/\n/g, '<br>');
        $(this).html(value);
        $(this).parents('form').find('#modified').show();
        $(this).parents('form').find('button').show();
      }, { 
      type      : "autogrow",
      submit    : 'OK',
      cancel    : 'cancel',
      tooltip   : "Click to edit...",
      onblur    : "ignore",
      autogrow : {
         linewidth  : 64,
         lineHeight : 32,
         minHeight  : 32
      },
  });
  $(".editable_textarea").editable("#", { 
      indicator : "<img src='img/indicator.gif'>",
      type   : 'textarea',
      submitdata: { _method: "put" },
      select : true,
      submit : 'OK',
      cancel : 'cancel',
      cssclass : "editable"
  });
  $(".editable_textile").editable("#", { 
      indicator : "<img src='img/indicator.gif'>",
      loadurl   : "#",
      type      : "textarea",
      submit    : "OK",
      cancel    : "Cancel",
      tooltip   : "Click to edit..."
  });
  
  $(".click").editable("#", { 
      indicator : "<img src='img/indicator.gif'>",
      tooltip   : "Click to edit...",
      style  : "inherit"
  });
  $(".dblclick").editable("#", { 
      indicator : "<img src='img/indicator.gif'>",
      tooltip   : "Doubleclick to edit...",
      event     : "dblclick",
      style  : "inherit"
  });
  $(".mouseover").editable("#", { 
      indicator : "<img src='img/indicator.gif'>",
      tooltip   : "Move mouseover to edit...",
      event     : "mouseover",
      style  : "inherit"
  });
  
  /* Should not cause error. */
  $("#nosuch").editable("#", { 
      indicator : "<img src='img/indicator.gif'>",
      type   : 'textarea',
      submit : 'OK'
  });

};

function showExamform() {
  if (!$("#newexamform").is(":visible")) {
    $("#deleteform").hide();
    $(".checkexam").hide();
    $("#newexamform").show();
  } else {
    $("#newexamform").hide();
  }
};
function saveExam(e, me) {
  var form = $(me).parents('form');//or closest('form')
  var name = $(form).find('.editable_examname').html();
  var names = $('.editable_examname').not($(form).find('.editable_examname'))
              .map(function() {
                     return $(this).text();
                   }).get();
  if ($.inArray(name, names) == -1) {
    $('<input>').attr({name:'name', value:name, hidden:'true'}).appendTo(form);

    $(form).find('.choice').map(function() {
        var data = JSON.stringify({
              'question':$(this).find('.autogrow_question').html(),
              'choices':[
                 $(this).find('#choice_1').html(),
                 $(this).find('#choice_2').html(),
                 $(this).find('#choice_3').html(),
                 $(this).find('#choice_4').html(),
              ],
              'rightindex':$(this).find("input:radio:checked" ).prop('value'),
              });
        $('<input>').attr({name:'choice', value: data, hidden:'true'}).appendTo(form);
    });

    $(form).find('.reading').map(function() {
        var data = JSON.stringify({
          'name':$(this).find('.editable_readingname').html(),
          'article':$(this).find('.autogrow_article').html(),
          'questions':
          [
            {
              'question':$(this).find('#question1 .autogrow_question').html(),
              'choices':[
                 $(this).find('#question1 #choice_1').html(),
                 $(this).find('#question1 #choice_2').html(),
                 $(this).find('#question1 #choice_3').html(),
                 $(this).find('#question1 #choice_4').html(),
              ],
              'rightindex':$(this).find("#question1 input:radio:checked" ).prop('value'),
            },
            {
              'question':$(this).find('#question2 .autogrow_question').html(),
              'choices':[
                 $(this).find('#question2 #choice_1').html(),
                 $(this).find('#question2 #choice_2').html(),
                 $(this).find('#question2 #choice_3').html(),
                 $(this).find('#question2 #choice_4').html(),
              ],
              'rightindex':$(this).find("#question2 input:radio:checked" ).prop('value'),
            },
            {
              'question':$(this).find('#question3 .autogrow_question').html(),
              'choices':[
                 $(this).find('#question3 #choice_1').html(),
                 $(this).find('#question3 #choice_2').html(),
                 $(this).find('#question3 #choice_3').html(),
                 $(this).find('#question3 #choice_4').html(),
              ],
              'rightindex':$(this).find("#question3 input:radio:checked" ).prop('value'),
            },
            {
              'question':$(this).find('#question4 .autogrow_question').html(),
              'choices':[
                 $(this).find('#question4 #choice_1').html(),
                 $(this).find('#question4 #choice_2').html(),
                 $(this).find('#question4 #choice_3').html(),
                 $(this).find('#question4 #choice_4').html(),
              ],
              'rightindex':$(this).find("#question4 input:radio:checked" ).prop('value'),
            },
            {
              'question':$(this).find('#question5 .autogrow_question').html(),
              'choices':[
                 $(this).find('#question5 #choice_1').html(),
                 $(this).find('#question5 #choice_2').html(),
                 $(this).find('#question5 #choice_3').html(),
                 $(this).find('#question5 #choice_4').html(),
              ],
              'rightindex':$(this).find("#question5 input:radio:checked" ).prop('value'),
            },
          ], 
        });
        $('<input>').attr({name:'reading', value: data, hidden:'true'}).appendTo(form);
     });

    $(form).submit();
  }else {
    e.preventDefault();
    $(form).find('.editable_examname').html("名称已存在，请重命名");
  }
};
function onDoubleclickthumbnail(thumbnail) {
  var id = $(thumbnail).find('input').attr('value');
  var form = $(thumbnail).parents('form'); 
  $(form).find( "input:checkbox[id="+id+"]" ).prop('checked', false);
  $(thumbnail).parents('form').find('h2 button').show();
  $(thumbnail).remove();
};
function onSelectlesson(me, book, value) {
  var index1 = value.lastIndexOf(':');
  var index2 = value.lastIndexOf('|');
  var name = value.substring(0,index1);
  var length = value.substring(index1+1,index2);
  var id = value.substring(index2+1);
  $(me).parents('form').find('h2 button').show();
  $(me).parents('form').find('#addnew').before(
      '<div class="col-6 col-sm-6 col-lg-2" ondblclick="onDoubleclickthumbnail(this)">'+
      '<a class="thumbnail" style="width:100%;cursor:pointer;" title="双击删除">'+
      '<input name="addlessons" value='+id+' hidden="true"><p>'
      +book+'</p><p><b>'+name+'</b></p><p style="color:sienna;">sum:'+length+'</p></a></div>');
  $(me).parents('form').find('#select_1').text("点击选择课本");
  $(me).parents('form').find('#select_2').remove();
};
function expandExam(me) {
  var content = $(me).parents('form').find('.content');
  if (content.is(":visible")) {
    content.hide();
    $(me).prop('class','fa fa-caret-right');
  } else {
    content.show();
    $(me).prop('class','fa fa-caret-down');
  }
};
function deleteExam(e,me) {
  var form = $(me).parents('form');
  var examname = form.find('.editable_examname').text()
  if (confirm('你确定要删除考试："'+examname+'"?')) {
    $('<input>').attr({name:'delexam', value:'true', hidden:'true'}).appendTo(form);
    $(form).submit();
  } else {
    e.preventDefault();
  }
};
function addNewChoice(me) {
    $(me).parents('form').find('#modified').show();
    $(me).parents('form').find('button').show();
    var choices = $(me).parents('form').find('#choices');
    var numofchoices = $(choices).find('.choice').length+1;
    $('<label>'+numofchoices+'.</label> \
      <div id="choice_question'+numofchoices+'" class="row choice"> \
      <div class="col-12 col-sm-12 col-lg-12"> \
        <div class="thumbnail"> \
          <p class="autogrow_question">question</p> \
        </div> \
      </div> \
      <div class="col-6 col-sm-6 col-lg-3"> \
        <input type="radio" name="answer'+numofchoices+'" value=1> \
        <div class="thumbnail">A<p id="choice_1" class="autogrow_choice"></p></div> \
      </div> \
      <div class="col-6 col-sm-6 col-lg-3"> \
        <input type="radio" name="answer'+numofchoices+'" value=2> \
        <div class="thumbnail">B<p id="choice_2" class="autogrow_choice"></p></div> \
      </div> \
      <div class="col-6 col-sm-6 col-lg-3"> \
        <input type="radio" name="answer'+numofchoices+'" value=3> \
        <div class="thumbnail">C<p id="choice_3" class="autogrow_choice"></p></div> \
      </div> \
      <div class="col-6 col-sm-6 col-lg-3"> \
        <input type="radio" name="answer'+numofchoices+'" value=4> \
        <div class="thumbnail">D<p id="choice_4" class="autogrow_choice"></p></div> \
      </div> \
    </div>').appendTo(choices);
    
    init_jeditable();

};

function addNewReading(me) {
    $(me).parents('form').find('#modified').show();
    $(me).parents('form').find('button').show();
    var readings = $(me).parents('form').find('#readings');
    var numofreadings = $(readings).find('.reading').length+1;
    $('<label>'+numofreadings+'.</label> \
      <div class="row reading"> \
        <p>Article: </p> \
        <div class="col-12 col-sm-12 col-lg-12"> \
          <div class="thumbnail"> \
            <p><b class="editable_readingname" id="text_reading_name">Click to input title</b></p> \
            <p class="autogrow_article">click to input article</p> \
          </div> \
        </div> \
        <p>Questions: </p> \
        <div id="question1"> \
          <div class="col-12 col-sm-12 col-lg-12"> \
            <div class="thumbnail"> \
              <p class="autogrow_question">question</p> \
            </div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'1" value=1> \
            <div class="thumbnail">A<p id="choice_1" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'1" value=2> \
            <div class="thumbnail">B<p id="choice_2" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'1" value=3> \
            <div class="thumbnail">C<p id="choice_3" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'1" value=4> \
            <div class="thumbnail">D<p id="choice_4" class="autogrow_choice"></p></div> \
          </div> \
        </div> \
        <div id="question2"> \
          <div class="col-12 col-sm-12 col-lg-12"> \
            <div class="thumbnail"> \
              <p class="autogrow_question">question</p> \
            </div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'2" value=1> \
            <div class="thumbnail">A<p id="choice_1" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'2" value=2> \
            <div class="thumbnail">B<p id="choice_2" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'2" value=3> \
            <div class="thumbnail">C<p id="choice_3" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'2" value=4> \
            <div class="thumbnail">D<p id="choice_4" class="autogrow_choice"></p></div> \
          </div> \
        </div> \
        <div id="question3"> \
          <div class="col-12 col-sm-12 col-lg-12"> \
            <div class="thumbnail"> \
              <p class="autogrow_question">question</p> \
            </div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'3" value=1> \
            <div class="thumbnail">A<p id="choice_1" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'3" value=2> \
            <div class="thumbnail">B<p id="choice_2" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'3" value=3> \
            <div class="thumbnail">C<p id="choice_3" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'3" value=4> \
            <div class="thumbnail">D<p id="choice_4" class="autogrow_choice"></p></div> \
          </div> \
        </div> \
        <div id="question4"> \
          <div class="col-12 col-sm-12 col-lg-12"> \
            <div class="thumbnail"> \
              <p class="autogrow_question">question</p> \
            </div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'4" value=1> \
            <div class="thumbnail">A<p id="choice_1" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'4" value=2> \
            <div class="thumbnail">B<p id="choice_2" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'4" value=3> \
            <div class="thumbnail">C<p id="choice_3" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'4" value=4> \
            <div class="thumbnail">D<p id="choice_4" class="autogrow_choice"></p></div> \
          </div> \
        </div> \
        <div id="question5"> \
          <div class="col-12 col-sm-12 col-lg-12"> \
            <div class="thumbnail"> \
              <p class="autogrow_question">question</p> \
            </div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'5" value=1> \
            <div class="thumbnail">A<p id="choice_1" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'5" value=2> \
            <div class="thumbnail">B<p id="choice_2" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'5" value=3> \
            <div class="thumbnail">C<p id="choice_3" class="autogrow_choice"></p></div> \
          </div> \
          <div class="col-6 col-sm-6 col-lg-3"> \
            <input type="radio" name="answer'+numofreadings+'5" value=4> \
            <div class="thumbnail">D<p id="choice_4" class="autogrow_choice"></p></div> \
          </div> \
        </div> \
      </div>').appendTo(readings);

    init_jeditable();
};

$(function(){init_jeditable();});

</script>

<div class="jumbotron">
  <h1>Crike -- 试题管理</h1>
</div>
<button class="btn btn-success" onclick="showExamform();"><i class="fa fa-plus"></i></button>
<!-- add new item -->
<form id='newexamform' style="display: none" method="post" enctype="multipart/form-data" action="/admin/exams/">
  {% csrf_token %}
  <h2>新增：<b class="editable_examname" id="text_1">Click to input a name</b>&nbsp&nbsp*
    <button onclick="saveExam(event,this);" class="btn btn-success" style="float:right;display=none">
      <i class="fa fa-save"></i></button>
  </h2>
  <div class="page-header">
    <h4>词汇测验</h4>
    <input type="checkbox" name="withtrans" checked>加入句子翻译题
  </div>
  <div class='row'>
    <div id="addnew" class="col-6 col-sm-6 col-lg-2">
      <div class="thumbnail">
        <p>新增</p>
        <p><b class="editable_selectbook" id="select_1" style="display:inline">点击选择课本</b></p>
      </div>
    </div>
  </div>

  <div class="page-header">
    <h4>选择题</h4>
  </div>
  <div id='choices'>
  </div>
  <a onclick="addNewChoice(this);" style="font-size:200%"><i class="fa fa-plus"></i></a>

  <div class="page-header">
    <h4>阅读理解</h4>
  </div>
  <div id='readings'>
  </div>
  <a onclick="addNewReading(this);" style="font-size:200%"><i class="fa fa-plus"></i></a>

</form>

<!-- Cycle through entries -->
{% for exam in exams %}
<form id='examform' method="post" enctype="multipart/form-data" action="/admin/exams/">
  {% csrf_token %}
  <input name='id' value="{{exam.id}}" hidden="true">
  <h2><a style="cursor:pointer;"><i class="fa fa-caret-right" style="font-size:80%" onclick="expandExam(this)"></i></a>
    <b class="editable_examname" id="text_1">{{exam.name}}</b>
    <b id="modified" style="display:none">&nbsp&nbsp*</b>
    <button class="btn btn-danger" style="float:right;" onclick="deleteExam(event,this);">
      <i class="fa fa-minus"></i></button>
    <button onclick="saveExam(event, this);" class="btn btn-success" style="float:right;display:none">
      <i class="fa fa-save"></i></button>
  </h2>
  <div class="content" style="display:none">
    <!-- vocabularies -->
    <div class="page-header">
      <h4>词汇测验</h4>
      {% if exam.withtrans %}
      <input type="checkbox" name="withtrans" checked>加入句子翻译题
      {% else %}
      <input type="checkbox" name="withtrans">加入句子翻译题
      {% endif %}
    </div>
    <div class='row'>
      {% for lesson in exam.lessons|dictsort:"name" %}
      <div class="col-6 col-sm-6 col-lg-2" ondblclick="onDoubleclickthumbnail(this)">
        <a class="thumbnail" style="width:100%;cursor:pointer;" title="双击删除">
          <p><input name="addlessons" value='{{lesson.id}}' hidden="true">{{lesson.book.name}}</p>
          <p><b>{{lesson.name}}</b></p>
          <p style="color:sienna;">sum:{{lesson.words|length}}</p>
        </a>
      </div>
      {% endfor %}
      <div id="addnew" class="col-6 col-sm-6 col-lg-2">
        <div class="thumbnail">
          <p>新增</p>
          <p><b class="editable_selectbook" id="select_1" style="display:inline">点击选择课本</b></p>
        </div>
      </div>
    </div>

    <!--choices-->
    <div class="page-header">
      <h4>选择题</h4>
    </div>
    <div id='choices'>
    {% for question in exam.choices %}
    <label>{{forloop.counter}}.</label>
    <div id='choice_question{{forloop.counter}}' class="row choice">
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="thumbnail">
          <p class="autogrow_question">{{question.question|linebreaksbr}}</p>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-lg-3">
        <input type="radio" name="answer{{forloop.counter}}" value=1 {% if question.rightindex == 1 %}checked=true{% endif %}>
        <div class="thumbnail">A<p id="choice_1" class="autogrow_choice">{{question.answers.0|linebreaksbr}}</p></div>
      </div>
      <div class="col-6 col-sm-6 col-lg-3">
        <input type="radio" name="answer{{forloop.counter}}" value=2 {% if question.rightindex == 2 %}checked=true{% endif %}>
        <div class="thumbnail">B<p id="choice_2" class="autogrow_choice">{{question.answers.1|linebreaksbr}}</p></div>
      </div>
      <div class="col-6 col-sm-6 col-lg-3">
        <input type="radio" name="answer{{forloop.counter}}" value=3 {% if question.rightindex == 3 %}checked=true{% endif %}>
        <div class="thumbnail">C<p id="choice_3" class="autogrow_choice">{{question.answers.2|linebreaksbr}}</p></div>
      </div>
      <div class="col-6 col-sm-6 col-lg-3">
        <input type="radio" name="answer{{forloop.counter}}" value=4 {% if question.rightindex == 4 %}checked=true{% endif %}>
        <div class="thumbnail">D<p id="choice_4" class="autogrow_choice">{{question.answers.3|linebreaksbr}}</p></div>
      </div>
    </div>
    {% endfor %}
    </div>
    <a onclick="addNewChoice(this);" style="font-size:200%"><i class="fa fa-plus"></i></a>

  <!-- reading comprehensions -->
    <div class="page-header">
      <h4>阅读理解</h4>
    </div>
    <div id='readings'>
    {% for reading in exam.readings %}
    <label>{{forloop.counter}}.</label>
    <div class='row reading'>
      <p>Article: </p>
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="thumbnail">
          <p><b class="editable_readingname" id="text_reading_name">{{reading.name}}</b></p>
          <p class="autogrow_article">{{reading.article|linebreaksbr}}</p>
        </div>
      </div>
      <p>Questions: </p>
      {% for question in reading.questions %}
      <div id='question{{forloop.counter}}'>
        <div class="col-12 col-sm-12 col-lg-12">
          <div class="thumbnail">
            <p class="autogrow_question">{{question.question|linebreaksbr}}</p>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
          <input type="radio" name="answer{{forloop.parentloop.counter}}{{forloop.counter}}" value=1 {% if question.rightindex == 1 %}checked=true{% endif %}>
          <div class="thumbnail">A<p id="choice_1" class="autogrow_choice">{{question.answers.0|linebreaksbr}}</p></div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
          <input type="radio" name="answer{{forloop.parentloop.counter}}{{forloop.counter}}" value=2 {% if question.rightindex == 2 %}checked=true{% endif %}>
          <div class="thumbnail">B<p id="choice_2" class="autogrow_choice">{{question.answers.1|linebreaksbr}}</p></div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
          <input type="radio" name="answer{{forloop.parentloop.counter}}{{forloop.counter}}" value=3 {% if question.rightindex == 3 %}checked=true{% endif %}>
          <div class="thumbnail">C<p id="choice_3" class="autogrow_choice">{{question.answers.2|linebreaksbr}}</p></div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
          <input type="radio" name="answer{{forloop.parentloop.counter}}{{forloop.counter}}" value=4 {% if question.rightindex == 4 %}checked=true{% endif %}>
          <div class="thumbnail">D<p id="choice_4" class="autogrow_choice">{{question.answers.3|linebreaksbr}}</p></div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    </div>
    <a onclick="addNewReading(this);" style="font-size:200%"><i class="fa fa-plus"></i></a>

  </div>
</form>
{% endfor %}

<span id="dummy"></span>

{% endblock %}

{% block body_footer %}
<script src="{% static 'jeditable/jquery.jeditable.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'jeditable/jquery.jeditable.autogrow.js' %}"></script>
<script src="{% static 'jeditable/jquery.autogrow.js' %}"></script>
{% endblock %}

