{% extends 'crike_django/lesson_base.html' %}
{% load staticfiles %}

{% block subcontent %}
<script>
  $('.step-links').hide();

  $(function(){
    var form = $('#ExamForm');
    var ques_num = $(form).find( "input[name^='ques']" ).length;
    console.log(ques_num);
    var timelimit = ques_num * 40;
    var time_s = timelimit % 60;
    var time_m = Math.floor(timelimit / 60);
    $('#counter').countdown({
       image: "{% static 'countdown/img/digits.png' %}",
       {% if time_m < 10 %}
       startTime: '0'+time_m+':'+time_s,
       {% else %}
       startTime: time_m+':'+time_s,
       {% endif %}
       timerEnd: function(){ 
        $('#popup')
        .html("<label style='font-size:300%'>时间到.. <i style='color:orange' class='fa fa-frown-o'/></label>")
        .show()
        $('#overlay').show();

        onSubmit();

        setTimeout( function () { $(form).submit(); }, 1000);
       },
       format: 'mm:ss'
    });
  });

  function onSubmit(e) {
    var form = $('#ExamForm');
    var ret =  [];
    $(form).find( "div[id^='choosed']" )
    .each(function() { 
      var ans = [];
      $(this).find('.pin').each(function(){ ans.push($(this).text()); });
      ques = $(this).parents('.c2e').find("input[name^='ques']").prop('value').split(' ');
      if (ans.length != ques.length) {
        ret.push('false');
        return;
      }
      for (i=0;i<ques.length;i++) {
        if (ans[i] != ques[i]) {
          ret.push('false');
          return;
        }
      }
      ret.push('true');
    });
    $('<input>').attr({name:'ret', value:ret, hidden:'true'}).appendTo(form);
  };

  function onPick(pin,num,option) {
    $('<div class="pin" onClick="onCancel(this,'+option+')">'+$(pin).text()+'</div>')
    .appendTo('#choosed'+num);
    $(pin).hide();
  };

  function onCancel(pin,option) {
    $(pin).parents('.c2e').find('#option'+option).show();
    $(pin).remove();
  };
</script>

<div id='overlay'></div>
<div id='popup'></div>

<form id='ExamForm' action='/trans/{{id}}/' method='post'>
  <div class='jumbotron subject-header-container2'>
    <label>{{name}}</label>
    <div id="counter" style='float:right;'></div>
    <p><strong>Click the cards to form the right translation of each sentence, 40 seconds for each</strong></p>
    {% csrf_token %}
    <input type="submit" onClick='onSubmit(event);' value="submit" class="btn btn-primary btn-lg" style="margin-right:20px;margin-bottom:10px;">
  </div>

{% for word in words %}
  {% if word.options %}
  <div class='row c2e' id="trans{{forloop.counter}}">
    <h2>{{forloop.counter}}. {{word.example_t}}</h2>
    <input name="ques{{forloop.counter}}" value="{{word.example}}" hidden="true">
    <div id="choosed{{forloop.counter}}">
    Answer: 
    </div></br>
    Options:
    {% for option in word.options %}
    <div class="pin" id="option{{forloop.counter}}" onclick='onPick(this, {{forloop.parentloop.counter}}, {{forloop.counter}})'>{{option}}</div>
    {% endfor %}
  </div>
  {% endif %}
{% endfor %}
</form>

{% block body_footer %}
<script src="{% static 'countdown/js/jquery.countdown.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% endblock %}

