{% extends 'crike_django/lesson_base.html' %}
{% load staticfiles %}

{% block subcontent %}
<script>
  $('.step-links').hide();

  var numoftry = 0;

  $(function(){
    var form = $('#ExamForm');
    $('#counter').countdown({
       image: "{% static 'countdown/img/digits.png' %}",
       startTime: '01:00',
       timerEnd: function(){ 
        $('#popup')
        .html("<label style='font-size:300%'>时间到.. <i class='fa fa-frown-o'/></label>")
        .show()
        $('#overlay').show()
        $('<input>').attr({name:'num', value:numoftry, hidden:'true'}).appendTo(form);
        $('<input>').attr({name:'ret', value:'false', hidden:'true'}).appendTo(form);
        setTimeout( function () { $(form).submit(); }, 1000);
       },
       format: 'mm:ss'
    });
  });

  function onSubmit(e) {

    numoftry++;

    var form = $('#ExamForm');
    var ques = $(form).find( "input[name='question']" ).prop('value');
    var pickans = $(form).find( "input:radio[name='pickanswer']:checked" ).prop('value');
    var fillans = $(form).find( "input[name='fillanswer']" ).prop('value');
    console.log(ques)
    console.log(pickans)
    console.log(fillans)

    if (ques == pickans && ques == fillans)
    {
      e.preventDefault();
      $('#popup')
      .html("<label style='font-size:300%'><i class='fa fa-check'/i> 你真棒 <i class='fa fa-smile-o'/></label>")
      .show()
      $('#overlay').show()
      $('<input>').attr({name:'num', value:numoftry, hidden:'true'}).appendTo(form);
      $('<input>').attr({name:'ret', value:'true', hidden:'true'}).appendTo(form);
      setTimeout( function () { $(form).submit(); }, 2000);
    } else {
      var showtimer = null;
      var cb = "$('#popup').hide();$('#overlay').hide()"
      e.preventDefault();
      $('#popup')
      .html("<label style='font-size:300%'><i class='fa fa-times'></i> 不对哦，再想一想 <i class='fa fa-frown-o'/></label>")
      .show()
      $('#overlay').show()
      shotimer = setTimeout(cb, 2000)
      $('input[name="pickanswer"]').prop('checked', false);
      $('input[name="fillanswer"]').prop('value', '');
    }
  };
  function onPick(pin) {
    $(pin).find("input:radio").prop('checked',true);
  }
</script>

<div id='overlay'></div>
<div id='popup'></div>

{% for word in words %}
<form id='ExamForm' action='/exam/book/{{book}}/unit/{{unit}}/' method='post'>
  <div class='jumbotron'>
    {% if unit == 0 %}
    <label>{{book}} 总测验</label>
    {% else %}
    <label>{{book}} / {{unit}} 单元测验</label>
    {% endif %}
    <div id="counter" style='float:right;font-size:150%'></div>
    {% csrf_token %}
    {% if words.has_next %}
    <input name="page" value="{{words.next_page_number}}" hidden="true">
    {% else %}
    <input name="page" value="0" hidden="true">
    {% endif %}
    <input name="question" value="{{word.name}}" hidden="true">
    <h1>
      <input type="text" style="border: none; border-bottom: 1px solid black;" size="15" autocomplete="off" name='fillanswer'>
      <a onmouseover="delayPlay('/media/audios/{{ word.name }}.mp3');"
          onmouseout ="clearTimeout(timer);" 
          onclick="playSound('/media/audios/{{ word.name }}.mp3');" 
          title="发音" href="javascript:;"><i class="fa fa-volume-up"></i></a><br>
      <span class="current" style="float:right">
          {{ words.number }} / {{ words.paginator.num_pages }}
      </span>
    </h1>
    <input type="submit" onClick='onSubmit(event);' value="submit" class="btn btn-primary btn-lg" style="margin-right:20px;margin-bottom:10px;">
    <strong id='feedback'>根据发音，填写完整单词并选择释义</strong>
  </div>

  <div class='row'>
    {% for option in options %}
    <div class="col-6 col-sm-6 col-lg-3">  
      <div class="pin" style="width:100%" onclick='onPick(this)'>
        <input type="radio" name="pickanswer" value="{{option.name}}">
        {% for m in option.mean %}
        <li style="font-size:150%">{{m}}</li>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</form>
{% endfor %}

{% block body_footer %}
<script src="{% static 'countdown/js/jquery.countdown.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% endblock %}

