{% extends 'crike_django/lesson_base.html' %}

{% block subcontent %}
<script>
  $('.step-links').hide();
  var numoftry = 0;

  function onSubmit(e) {

    numoftry++;

    var form = $('#DictationForm');
    var ques = $(form).find( "input[name='question']" ).prop('value');
    var ans = $(form).find( "input:radio[name='answer']:checked" ).prop('value');

    if (ques == ans)
    {
      $('<input>').attr({name:'num', value:numoftry, hidden:'true'}).appendTo('#DictationForm');
    } else {
      e.preventDefault();
      $('#feedback').text('不对哦，再想一想');
      $('input[name="answer"]').prop('checked', false);
    }
  };
</script>

<div class='jumbotron'>
  <span style="float:right">返回  
    <a href='/study/{{book}}/{{lesson}}/show'>单词学习</a>
  </span>
  <span class="current" style="float:right">
      第{{ words.number }}页 共{{ words.paginator.num_pages }}页.
  </span>
  <h1>
    鼠标掠过<i class="fa fa-volume-up"></i>听发音，<br>填写完整单词
  </h1>
</div>

<form id='DictationForm' action='/study/{{book}}/{{lesson}}/dictation' method='post'>
  {% csrf_token %}
  {% if words.has_next %}
  <input name="page" value="{{words.next_page_number}}" hidden="true">
  {% else %}
  <input name="page" value="0" hidden="true">
  {% endif %}
  <input type="submit" onClick='onSubmit(event);' value="submit" style="margin-right:20px;margin-bottom:10px;">
  <div class='row'>
    {% for option in options %}
    <div class="col-6 col-sm-6 col-lg-3">  
      <input name="question" value="{{option.name}}" hidden="true">
      <input type="text" name="answer">
      <a onmouseover="delayPlay('/media/audios/{{ option.name }}.mp3');"
          onmouseout ="clearTimeout(timer);" 
          onclick="playSound('/media/audios/{{ option.name }}.mp3');" 
          title="发音" href="javascript:;"><i class="fa fa-volume-up"></i></a><br>
      <strong id='feedback'>TODO use font-awsome</strong>
    </div>
    {% endfor %}
  </div>
</form>

{% endblock %}

