{% extends 'crike_django/learn.html' %}

{% block subcontent %}
<div class='jumbotron'>
    {% for word in words %}
    <h1>{{word.name|capfirst}}</h1>
    {% endfor %}
</div>
<div class="pagination">
  <span class="step-links">
    {% if words.has_previous %}
        <a href="?page={{ words.previous_page_number }}&dic={{dic}}&lesson={{lesson}}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ words.number }} of {{ words.paginator.num_pages }}.
    </span>

    {% if words.has_next %}
        <a href="?page={{ words.next_page_number }}&dic={{dic}}&lesson={{lesson}}">next</a>
    {% endif %}
  </span>
  <span style='margin-left:20px;'>Back to  
    <a href='/show/{{dic}}/{{lesson}}/'>{{lesson}}</a>
  </span>
</div>
<div class='row'>
  <form action="/learn_pick/" method='post'>
    {% for option in options %}
    <div class="col-6 col-sm-6 col-lg-2">  
      <input type="radio" name="pick" value="{{option.mean}}">
        {% for m in option.mean %}
        <li>{{m}}</li>
        {% endfor %}
    </div>
    {% endfor %}
    <input type="submit" style="margin-left:30px;" value="submit">
  </form>
</div>
{% endblock %}
