{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
<style type="text/css">
#padding-top {
    padding-top: 20px;
}
.thumbnail p {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

</style>
<!-- <link href="/static/index.css" rel="stylesheet" type="text/css"/> -->
{% endblock %}

{% block content %}
<script>
  //solve the csrf token issue
  function getCookie(name)
  {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
   
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
 
  function addToMine(lessonid) {
    //solve the csrf token issue
    $.ajaxSetup({ 
         beforeSend: function(xhr, settings) {
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         } 
    });

    $.post("/lessonschoose/", {id: lessonid })
    .done(function(){
      popup_message("已提交课程申请");
      {% if user.teacher %}
        window.location.href = '{% url "lessons_choose_view" %}';
      {% endif %}
    });
  };

function popup_message(text)
{
    $('#message-drawer .message-text').text(text);
    $('#message-drawer').show();
    $('#message-drawer').fadeTo("fast", 1.0);
    $('#message-drawer').fadeTo(3000, 0, function(){
        $(this).hide();
    }); 
};

function expandBook(me) {
  var content = $(me).parents('.panel-primary').find('.panel-body');
  if (content.is(":visible")) {
    content.hide();
    $(me).find('i').prop('class','fa fa-caret-right');
  } else {
    content.show();
    $(me).find('i').prop('class','fa fa-caret-down');
  }
};
</script>
<div class="alert-messages" id="message-drawer" style="opacity: 0; top: 60px; display: none;">                                                    
 <div class="message ">
   <div class="message-inside">
     <span class="message-text"></span>
     <a class="dismiss" href="#" style="display: none;">×</a>
   </div>
 </div>
</div>
<div id='padding-top'></div>
<div class='row'>
<div class="container subject-header-container clearfix">
        <div class="col-sm-12 col-md-10 col-md-offset-1 subject-header">
            <div class="subject-header-icon col-md-3 hidden-xs hidden-sm">
                <img src="{% static 'images/small/efk_icon_healthskills_140x140.png' %}">
            </div>
            <div class="col-sm-12 col-md-9 subject-header-description">
                <h1>Crike -- 课程选择</h1>
                <p>我们的课程涵盖了英语的各个方面，拥有丰富的题型与词库</p>
                <!--<p>支持我们对电子课程的开发 —— 向我们<abbr title='暂时不支持此功能'>捐献</a></p>-->
                <a title="返回" href="/">返回首页</a>
            </div>
        </div>
</div>
</div>
<br/>
<br/>
<!-- Cycle through entries -->
{% if user.teacher %}

<div class="row">
  <div class="page-header">
    <h2>教师可见：课程申请列表</h2>
  </div>
  {% for la in lesson_applies %}
  <div class="col-sm-6 col-md-3">
    <div title="课程申请" class="thumbnail">
      <div class="caption">
        <h4>申请者：{{ la.user.username }}</h4>
        <h4>课程名：{{ la.lesson.name }}</h4>
        <p>所属课本：{{ la.lesson.book }}</p>
        <p>请求时间：{{ la.date }}</p>
        <a href="/lesson_apply/accept/{{ la.id }}" class="btn btn-primary" role="button">接受</a>
        <a href="/lesson_apply/delete/{{ la.id }}" class="btn btn-danger" role="button">删除</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

  <div class="page-header">
    <h2>课程选择</h2>
  </div>
  {% for book in books %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">
          <a style="cursor:pointer;" onclick='expandBook(this)'>课本：{{ book.name }} <i class="fa fa-caret-right" style="font-size:80%"></i></a>
      </h2>
    </div>
    <div class="panel-body" style="display:none;">
    {% for lesson in book.lessons|dictsort:"name" %}
      <div class="col-6 col-sm-6 col-lg-3">  
        <a class="thumbnail" style="width:100%;cursor:pointer" title="加入我的课程" onclick="addToMine('{{lesson.id}}')">
          <div class="caption"></div>
          <p>课程：{{lesson.name}}</p>
          {% comment %}
          <div>{% include 'crike_django/lesson_result.html' %}</div>
          {% endcomment %}
          <p style="color:sienna;margin-left:10px;">sum:{{lesson.words|length}}</p>
          <!-- <button style="" onclick="location.href='#'">学习状态</button> -->
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
  {% endfor %}

  <span id="dummy"></span>
{% endblock %}
