{% extends 'crike_django/lesson_base.html' %}
{% load staticfiles %}

{% block subcontent %}
<script>
  $(document).ready(function () {
    $('.step-links').hide();
    $('#FillForm').find( "input[name='answer']" ).focus();
  });

  var numoftry = 0;

  $(function(){
    var form = $('#FillForm');
    $('#counter').countdown({
       image: "{% static 'countdown/img/digits.png' %}",
       startTime: '01:00',
       timerEnd: function(){ 
        $('#popup')
        .html("<label style='font-size:300%'>时间到.. <i class='fa fa-frown-o'/></label>")
        .show()
        $('#overlay').show()
        $('<input>').attr({name:'num', value:numoftry, hidden:'true'}).appendTo(form);
        $('<input>').attr({name:'ret', value:'false', hidden:'true'}).appendTo(form);
        setTimeout( function () { $(form).submit(); }, 1000);
       },
       format: 'mm:ss'
    });
  });
 
  function onSubmit(e) {

    numoftry++;

    var form = $('#FillForm');
    var ques = $(form).find( "input[name='question']" ).prop('value');
    var ans = $(form).find( "input[name='answer']" ).prop('value');

    if (ques == ans)
    {
      e.preventDefault();
      $('#popup')
      .html("<label style='font-size:300%'><i class='fa fa-check'/i> 你真棒 <i class='fa fa-smile-o'/></label>")
      .show()
      $('#overlay').show()
      $('<input>').attr({name:'num', value:numoftry, hidden:'true'}).appendTo(form);
      setTimeout( function () { $(form).submit(); }, 2000);
    } else {
      var showtimer = null;
      var cb = "$('#popup').hide();$('#overlay').hide()"
      e.preventDefault();
      $('#popup')
      .html("<label style='font-size:300%'><i class='fa fa-times'></i> 不对哦，再想一想 <i class='fa fa-frown-o'/></label>")
      .show()
      $('#overlay').show()
      shotimer = setTimeout(cb, 2000)
      $('input[name="answer"]').prop('value', '');
    }
  };
</script>

<div id='overlay'></div>
<div id='popup'></div>

{% for word in words %}
<div class='jumbotron'>
  <strong id='feedback'>请根据释义将单词填写完整</strong>
  <div id="counter" style='float:right;font-size:150%'></div>
  <form id='FillForm' action='/study/book/{{book}}/lesson/{{lesson}}/fill' method='post'>
    {% csrf_token %}
    {% if words.has_next %}
    <input name="page" value="{{words.next_page_number}}" hidden="true">
    {% else %}
    <input name="page" value="0" hidden="true">
    {% endif %}
    <input name="question" value="{{word.name}}" hidden="true">
    <h1>
      <input type="text" style="border: none; border-bottom: 1px solid black;" size="15" autocomplete="off" name='answer'>
      <a onmouseover="delayPlay('/media/audios/{{ word.name }}.mp3');"
          onmouseout ="clearTimeout(timer);" 
          onclick="playSound('/media/audios/{{ word.name }}.mp3');" 
          title="发音" href="javascript:;"><i class="fa fa-volume-up"></i></a><br>
        <strong>[{{word.phonetics}}]</strong>
      <span class="current" style="float:right">
          {{ words.number }} / {{ words.paginator.num_pages }}
      </span>
    </h1>
    <input type="submit" onClick='onSubmit(event);' value="submit" class="btn btn-primary btn-lg" style="margin-right:20px;margin-bottom:10px;">
  </form>
</div>

<div class='row'>
  <div class="col-md-6 col-lg-6">
    <div class='pin' style="width:100%">
    {% for m in word.mean %}
    <li style="font-size:150%">{{m}}</li>
    {% endfor %}
    </div>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class='pin' style="width:100%">
    <!-- Carousel
    ================================================== -->
      <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" style="height:350px">
          <div class="item active">
            <!-- data-src="holder.js/900x500/auto/#777:#777" -->
            <img alt="900x500" src="/media/images/{{word.name}}/0.jpg">
          </div>
          <div class="item">
            <img alt="900x500" src="/media/images/{{word.name}}/1.jpg">
          </div>
          <div class="item">
            <img alt="900x500" src="/media/images/{{word.name}}/2.jpg">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% block body_footer %}
<script src="{% static 'countdown/js/jquery.countdown.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% endblock %}

