{% extends 'crike_django/lesson_base.html' %}

{% block subcontent %}
<script>
  $('.step-links').hide();
  var numoftry = 0;

  function onSubmit(e) {

    numoftry++;

    var form = $('#FillForm');
    var ques = $(form).find( "input[name='question']" ).prop('value');
    var ans = $(form).find( "input[name='answer']" ).prop('value');
    console.log(ans)
    console.log(ques)

    if (ques == ans)
    {
      $('<input>').attr({name:'num', value:numoftry, hidden:'true'}).appendTo('#FillForm');
    } else {
      e.preventDefault();
      $('#feedback').text('不对哦，再想一想');
      $('input[name="answer"]').prop('checked', false);
    }
  };
</script>

{% for word in words %}
<div class='jumbotron'>
  <span style="float:right">返回  
    <a href='/study/book/{{book}}/lesson/{{lesson}}/show'>单词学习</a>
  </span>
  <span class="current" style="float:right">
      第{{ words.number }}页 共{{ words.paginator.num_pages }}页.
  </span>
  <strong id='feedback'>请根据释义将单词填写完整</strong>
  <form id='FillForm' action='/study/book/{{book}}/lesson/{{lesson}}/fill' method='post'>
    {% csrf_token %}
    {% if words.has_next %}
    <input name="page" value="{{words.next_page_number}}" hidden="true">
    {% else %}
    <input name="page" value="0" hidden="true">
    {% endif %}
    <input name="question" value="{{word.name}}" hidden="true">
    <h1>
      <input type="text" style="border: none; border-bottom: 1px solid black;" size="15" autocomplete="off" name='answer'><br>
      {% for opt in options %}
      <strong id='options'>{{opt}}</strong>
      {% endfor %}
    </h1>
    <input type="submit" onClick='onSubmit(event);' value="submit" class="btn btn-primary btn-lg" style="margin-right:20px;margin-bottom:10px;">
  </form>
</div>

<div class='row'>
  <div class="col-md-4 col-lg-8">
  {% for m in word.mean %}
  <li style="font-size:150%">{{m}}</li>
  {% endfor %}
  </div>
  <div class="col-md-4 col-lg-4">
    <!-- Carousel
    ================================================== -->
      <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" style="height:350px">
          <div class="item active">
            <!-- data-src="holder.js/900x500/auto/#777:#777" -->
            <img alt="900x500" src="/media/images/{{word.name}}/0.jpg">
          </div>
          <div class="item">
            <img alt="900x500" src="/media/images/{{word.name}}/1.jpg">
          </div>
          <div class="item">
            <img alt="900x500" src="/media/images/{{word.name}}/2.jpg">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
  </div>
</div>

{% endfor %}

{% endblock %}

