{% extends 'crike_django/lesson_base.html' %}

{% block subcontent %}
<script>
  $('.step-links').hide();
  var numoftry = 0;

  function onSubmit(e) {

    numoftry++;

    var form = $('#PickForm');
    var ques = $(form).find( "input[name='question']" ).prop('value');
    var ans = $(form).find( "input:radio[name='answer']:checked" ).prop('value');

    if (ques == ans)
    {
      e.preventDefault();
      $('#popup')
      .html("<label style='font-size:300%'><i class='fa fa-check'/i> 你真棒 <i class='fa fa-smile-o'/></label>")
      .show()
      $('#overlay').show()
      $('<input>').attr({name:'num', value:numoftry, hidden:'true'}).appendTo(form);
      setTimeout( function () { $(form).submit(); }, 2000);
    } else {
      var showtimer = null;
      var cb = "$('#popup').hide();$('#overlay').hide()"
      e.preventDefault();
      $('#popup')
      .html("<label style='font-size:300%'><i class='fa fa-times'></i> 不对哦，再想一想 <i class='fa fa-frown-o'/></label>")
      .show()
      $('#overlay').show()
      shotimer = setTimeout(cb, 2000)
      $('input[name="answer"]').prop('checked', false);
    }
  };
  function onPick(pin) {
    $(pin).find("input:radio").prop('checked',true);
  }
</script>

<div id='overlay'></div>
<div id='popup'></div>

{% for word in words %}
<div class='jumbotron'>
  <span style="float:right">返回  
    <a href='/study/book/{{book}}/lesson/{{lesson}}/show'>单词学习</a>
  </span>
  <span class="current" style="float:right">
      第{{ words.number }}页 共{{ words.paginator.num_pages }}页.
  </span>
  <h1><strong style='font-size:150%'>{{word.name}} </strong> [{{ word.phonetics }}]
    <a onmouseover="delayPlay('/media/audios/{{ word.name }}.mp3');"
        onmouseout ="clearTimeout(timer);" 
        onclick="playSound('/media/audios/{{ word.name }}.mp3');" 
        title="发音" href="javascript:;"><i class="fa fa-volume-up"></i></a>
  </h1>
  <strong id='feedback'>请选择单词释义，只有一个正确哦</strong>
</div>

<form id='PickForm' action='/study/book/{{book}}/lesson/{{lesson}}/pick' method='post'>
  {% csrf_token %}
  <input type="submit" onClick='onSubmit(event);' value="submit" class="btn btn-primary btn-lg" style="margin-right:20px;margin-bottom:10px;">
  <input name="question" value="{{word.name}}" hidden="true">
  {% if words.has_next %}
  <input name="page" value="{{words.next_page_number}}" hidden="true">
  {% else %}
  <input name="page" value="0" hidden="true">
  {% endif %}
  <div class='row'>
    {% for option in options %}
    <div class="col-6 col-sm-6 col-lg-3">  
      <div class="pin" style="width:100%" onclick='onPick(this)'>
        <input type="radio" name="answer" value="{{option.name}}">
        {% for m in option.mean %}
        <li style="font-size:150%">{{m}}</li>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</form>
{% endfor %}

{% endblock %}

