{% extends 'crike_django/lesson_base.html' %}
{% load staticfiles %}

{% block subcontent %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta name="description" content="Bookblock: A Content Flip Plugin - Demo 4" />
<meta name="keywords" content="javascript, jquery, plugin, css3, flip, page, 3d, booklet, book, perspective" />
<link rel="stylesheet" type="text/css" href="{% static 'bookblock/css/default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bookblock/css/bookblock.css' %}" />
<!-- custom demo style -->
<link rel="stylesheet" type="text/css" href="{% static 'bookblock/css/demo4.css' %}" />
<script src="{% static 'bookblock/js/modernizr.custom.js' %}"></script>

<div id='overlay'></div>
<div id='popup' class='pin'></div>

<div class="container">
<div class="bb-custom-wrapper">
  <div id="counter" style='float:right;margin-right:100px;'></div>
  
  <div id="bb-bookblock" class="bb-bookblock">
    <!--<div class="bb-item">
      <div class="bb-custom-firstpage">
        <p>This is for lesson cover</p>
      </div>
      <div class="bb-custom-side">
        <p>Here we show the lesson status for student</p>
      </div>
    </div>-->
    {% for word in words %}
    <div class="bb-item">
      <div class="bb-custom-side">
        <h1><strong style='font-size:150%; margin-left:10px'>{{word.name}} </strong>
          [{{ word.phonetics }}]
          <a onmouseover="delayPlay('/media/audios/{{ word.name }}.mp3');delayGo()"
              onmouseout ="clearTimeout(timer);clearTimeout(gotimer);" 
              onclick="playSound('/media/audios/{{ word.name }}.mp3');readyGo()" 
              title="发音" href="javascript:;"><i class="fa fa-volume-up"></i></a><br>
          <div style='font-size:70%; margin-top:20px'>
            {% for mean in word.mean %}
            <li style='margin-left:10px;font-size:150%'>{{mean}}</li>
            {% endfor %}
          </div></br>
          <label style="float:bottom;font-size:50%;color:gray;">{{ forloop.counter }} / {{ words|length }}</label>
        </h1>
      </div>
      <div class="bb-custom-side">
        <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
          </ol>
          <div class="carousel-inner" style="height:500px">
            <div class="item active">
              <!-- data-src="holder.js/900x500/auto/#777:#777" -->
              <img alt="900x500" src="/media/images/{{word.name}}/0.jpg">
            </div>
            <div class="item">
              <img alt="900x500" src="/media/images/{{word.name}}/1.jpg">
            </div>
            <div class="item">
              <img alt="900x500" src="/media/images/{{word.name}}/2.jpg">
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="bb-item">
      <div class="bb-custom-side">
        <img src="{% static 'images/small/efk_icon_healthskills_140x140.png' %}">
        <p>Good Job!!</p>
        <form id="doneForm" style="display:none;" method="post" action="/study/book/{{book}}/lesson/{{lesson}}/show">
          {% csrf_token %}
        </form>
      </div>
      <div class="bb-custom-side">
        <p>
          <img src="{% static 'images/small/efk_icon_lifeskills_140x140.png' %}">
          <a id="gototest" href="#" onclick="gototest()">开始过关</a>
          <form id="goForm" style="display:none;" method="get" action="/study/book/{{book}}/lesson/{{lesson}}/pick">
          </form>
        </p>
      </div>
    </div>
  </div>

  <nav>
    <label>支持左右键翻页</label><br>
    <a id="bb-nav-first" href="#" class="bb-custom-icon bb-custom-icon-first">First page</a>
    <a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
    <a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
    <a id="bb-nav-last" href="#" class="bb-custom-icon bb-custom-icon-last">Last page</a>
  </nav>

</div>

</div><!-- /container -->
<script src="{% static 'bookblock/js/jquerypp.custom.js' %}"></script>
<script src="{% static 'bookblock/js/jquery.bookblock.js' %}"></script>
<script>
$(function(){
  $('#counter').countdown({
     image: "{% static 'countdown/img/digits.png' %}",
     {% if words|length < 10 %}
     startTime: '0{{words|length}}:00',
     {% else %}
     startTime: '{{words|length}}:00',
     {% endif %}
     timerEnd: function(){ 
       window.location = "/";
     },
     format: 'mm:ss'
  });
});

var gotimer = null;
var ready = false;
var donenum = 0;
var alldone =false;

function isGoodtogo() {
  if (!ready && !alldone) {
      var showtimer = null;
      var cb = "$('#popup').hide();$('#overlay').hide()"
      $('#popup')
      .html("<label style='font-size:250%'><i style='color:red' class='fa fa-exclamation-circle'></i> 还没学完，不要偷懒 </label>")
      .show()
      $('#overlay').show()
      shotimer = setTimeout(cb, 2000)
      return false;
  } else
      donenum++;
      if (donenum >= {{words|length}}) {
        alldone = true;
        var csrfvalue = $('#doneForm').find("input[name='csrfmiddlewaretoken']").val();
        $.post($('#doneForm').attr('action'),
              {csrfmiddlewaretoken: csrfvalue});
      }
      return true;
};
function canGotolast() {
  if (alldone)
    return true;
  else
    var showtimer = null;
    var cb = "$('#popup').hide();$('#overlay').hide()"
    $('#popup')
    .html("<label style='font-size:250%'><i style='color:red' class='fa fa-exclamation-circle'></i> 还没学完，不要偷懒 </label>")
    .show()
    $('#overlay').show()
    shotimer = setTimeout(cb, 2000)
    return false;
};
function gototest() {
  $('#goForm').submit();
};
function readyGo() {
  ready = true;
  if ("{{done}}" == "True") {
    $('#gototest').show();
  }
};
function delayGo() {
    clearTimeout(gotimer);
    var cb = "readyGo()";
    gotimer = setTimeout(cb, 500);
};

var Page = (function() {
  
  var config = {
      $bookBlock : $( '#bb-bookblock' ),
      $navNext : $( '#bb-nav-next' ),
      $navPrev : $( '#bb-nav-prev' ),
      $navFirst : $( '#bb-nav-first' ),
      $navLast : $( '#bb-nav-last' )
    },
    init = function() {
      config.$bookBlock.bookblock( {
        speed : 1000,
        shadowSides : 0.8,
        shadowFlip : 0.4
      } );
      initEvents();
    },
    initEvents = function() {
      
      var $slides = config.$bookBlock.children();

      // add navigation events
      config.$navNext.on( 'click touchstart', function() {
        if (isGoodtogo()) {
          ready = false;
          config.$bookBlock.bookblock( 'next' );
        }
        return false;
      } );

      config.$navPrev.on( 'click touchstart', function() {
        donenum--;
        config.$bookBlock.bookblock( 'prev' );
        return false;
      } );

      config.$navFirst.on( 'click touchstart', function() {
        donenum = 0;
        config.$bookBlock.bookblock( 'first' );
        return false;
      } );

      config.$navLast.on( 'click touchstart', function() {
        if (canGotolast())
          config.$bookBlock.bookblock( 'last' );
        return false;
      } );
      
      // add swipe events
      $slides.on( {
        'swipeleft' : function( event ) {
          if (isGoodtogo()) {
            ready = false;
            config.$bookBlock.bookblock( 'next' );
          }
          return false;
        },
        'swiperight' : function( event ) {
          donenum--;
          config.$bookBlock.bookblock( 'prev' );
          return false;
        }
      } );

      // add keyboard events
      $( document ).keydown( function(e) {
        var keyCode = e.keyCode || e.which,
          arrow = {
            left : 37,
            up : 38,
            right : 39,
            down : 40
          };

        switch (keyCode) {
          case arrow.left:
            donenum--;
            config.$bookBlock.bookblock( 'prev' );
            break;
          case arrow.right:
            if (isGoodtogo()) {
              ready = false;
              config.$bookBlock.bookblock( 'next' );
            }
            break;
        }
      });
    };

    return { init : init };

})();
</script>
<script>
  Page.init();
</script>
{% endblock %}

{% block body_footer %}
<script src="{% static 'countdown/js/jquery.countdown.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'bubbleinfo/jquery.bubbleinfo.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

