{% extends 'crike_django/lesson_base.html' %}

{% block subcontent %}
<div class='jumbotron'>
  {% for word in words %}
  <h1><strong style='font-size:150%'>{{word.name|capfirst}} </strong> [{{ word.phonetics }}]
    <a onmouseover="delayPlay('/media/audios/{{ word.name }}.mp3');"
        onmouseout ="clearTimeout(timer);" 
        onclick="playSound('/media/audios/{{ word.name }}.mp3');" 
        title="发音" href="javascript:;"><i class="fa fa-volume-up"></i></a>
  </h1>
  {% endfor %}
</div>
<form action="/learn_pick/" method='post'>
  <input type="submit"  value="submit" style="margin-right:20px;margin-bottom:10px;">
  <div class='row'>
    {% for option in options %}
    <div class="col-6 col-sm-6 col-lg-3">  
      <input type="radio" name="pick" value="{{option.mean}}">
        {% for m in option.mean %}
        <li style="font-size:150%">{{m}}</li>
        {% endfor %}
    </div>
    {% endfor %}
  </div>
</form>
{% endblock %}
