{% extends 'crike_django/lesson_base.html' %}
{% load staticfiles %}

{% block subcontent %}
<div class='jumbotron'>
  {% for word in words %}
  <h1><strong style='font-size:150%'>{{word.name|capfirst}} </strong> [{{ word.phonetics }}]
    <a onmouseover="delayPlay('/media/audios/{{ word.name }}.mp3');"
        onmouseout ="clearTimeout(timer);" 
        onclick="playSound('/media/audios/{{ word.name }}.mp3');" 
        title="发音" href="javascript:;"><i class="fa fa-volume-up"></i></a>
  </h1>
  <form style="float: right; font-size: 20px;" method="get" action="/study/book/{{book}}/lesson/{{lesson}}/dictation">
    <input type="submit" value="听写">
  </form>
  <form style="float: right; font-size: 20px;" method="get" action="/study/book/{{book}}/lesson/{{lesson}}/fill">
    <input type="submit" value="填单词">
  </form>
  <form style="float: right; font-size: 20px;" method="get" action="/study/book/{{book}}/lesson/{{lesson}}/pick">
    <input type="submit" value="选释义">
  </form>
  {% endfor %}
</div>
<div class='row'>
  {% for word in words %}
  <div class="col-md-8">
    {% for mean in word.mean %}
    <li style='margin-left:50px;font-size:200%'>{{mean}}</li>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <!-- Carousel
    ================================================== -->
      <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" style="height:350px">
          <div class="item active">
            <!-- data-src="holder.js/900x500/auto/#777:#777" -->
            <img alt="900x500" src="/media/images/{{word.name}}/0.jpg">
          </div>
          <div class="item">
            <img alt="900x500" src="/media/images/{{word.name}}/1.jpg">
          </div>
          <div class="item">
            <img alt="900x500" src="/media/images/{{word.name}}/2.jpg">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
  </div>
  {% endfor %}
</div>
<span id="dummy"></span>
{% endblock %}
