<!DOCTYPE html>
<html>
  <head>
    <link href="/static/blog.css" rel="stylesheet" type="text/css">
  </head> 
  <body>
    <h1>Crike - Delete Lesson</h1>
    <form method="post" action="http://127.0.0.1:8000/delete_lesson_confirm/{{dic}}/{{lesson}}/">
      {% csrf_token %}
      <p>Are you sure you want to delete {{dic}} {{lesson}}?</p>
      <input type="submit" value="OK">
    </form>
    <form method="get" action="http://127.0.0.1:8000/show/">
      {% csrf_token %}
      <input type="submit" value="Cancel">
    </form>
  </body>
</html>
