{% extends 'crike_django/lesson_base.html' %}
{% load staticfiles %}

{% block subcontent %}
<script type="text/javascript"> 
function stopRKey(evt) { 
  var evt = (evt) ? evt : ((event) ? event : null); 
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;} 
} 
document.onkeypress = stopRKey; 
</script>

<div id='overlay'></div>
<div id='popup' class='pin'></div>

<div class='jumbotron subject-header-container'>
  <div id="counter" style='float:right;font-size:150%'></div>
  <h1>
    鼠标轻抚<i class="fa fa-volume-up"></i>听发音，<br>填写完整单词
  </h1>
  <span class="current" style="float:right">
      第{{ words.number }}页 共{{ words.paginator.num_pages }}页.
  </span>
</div>

<form id='DictationForm' action='/study/book/{{book}}/lesson/{{lesson}}/dictation' method='post'>
  {% csrf_token %}
  {% if words.has_next %}
  <input name="page" value="{{words.next_page_number}}" hidden="true">
  {% else %}
  <input name="page" value="0" hidden="true">
  {% endif %}
  <div class='row'>
    {% for option in options %}
    <div class="col-6 col-sm-6 col-lg-3">  
      <input type="text" name="ans{{forloop.counter0}}" autocomplete="off">
      <a onmouseover="delayPlay('/media/audios/{{ option.name }}.mp3');"
          onmouseout ="clearTimeout(timer);" 
          onclick="playSound('/media/audios/{{ option.name }}.mp3');" 
          title="发音" href="javascript:;"><i class="fa fa-volume-up" style='font-size:150%'></i></a><br>
      <input id='opt{{forloop.counter0}}' type="submit" onClick='onSubmit(this,event);' value="确认" class="btn btn-primary btn-sm" style="margin-bottom:10px;margin-top:5px">
      <strong id='feedback{{forloop.counter0}}'>Fill the blank</strong>
    </div>
    {% endfor %}
  </div>
</form>

<script>
  $('.step-links').hide();
  var form = $('#DictationForm');
  var ques = new Array();
  var ans = new Array();
  var ret = new Array();
  var numoftry = new Array();
  {% for option in options %}
  ques.push('{{option.name}}')
  ans.push('')
  {% endfor %}
  for (i=0;i<{{options|length}};i++) {
    numoftry[i] = 0;
    ret[i]=false;
  }

  $(function(){
    var form = $('#DictationForm');
    $('#counter').countdown({
       image: "{% static 'countdown/img/digits.png' %}",
       startTime: '01:00',
       timerEnd: function(){ 
        $('#popup')
        .html("<label style='font-size:300%'>时间到.. <i style='color:orange' class='fa fa-frown-o'></i></label>")
        .show()
        $('#overlay').show()
        $('<input>').attr({name:'num', value:numoftry, hidden:'true'}).appendTo('#DictationForm');
        $('<input>').attr({name:'ret', value:ret, hidden:'true'}).appendTo('#DictationForm');
        $('<input>').attr({name:'options', value:ques, hidden:'true'}).appendTo('#DictationForm');
        setTimeout( function () { $(form).submit(); }, 1000);
       },
       format: 'mm:ss'
    });
  });

  function onSubmit(t,e) {
    var index = parseInt(t.id.substring(3));
    ans[index] = $(form).find( "input[name='ans"+index+"']" ).prop('value');
    numoftry[index]++;

    if (ques[index] == ans[index])
    {
      ret[index] = true;
      $('#feedback'+index).text('Good job!');
      for (i=0;i<{{options|length}};i++) {
        if (ques[i] != ans[i]){
          e.preventDefault();
          return false;
        }
      }
      $('<input>').attr({name:'num', value:numoftry, hidden:'true'}).appendTo('#DictationForm');
      $('<input>').attr({name:'ret', value:ret, hidden:'true'}).appendTo('#DictationForm');
      $('<input>').attr({name:'options', value:ques, hidden:'true'}).appendTo('#DictationForm');
    } else {
      e.preventDefault();
      $('#feedback'+index).text('不对哦，再想一想');
      ret[index] = false;
    }
  };
</script>

{% block body_footer %}
<script src="{% static 'countdown/js/jquery.countdown.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% endblock %}

