{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<link href="/static/index.css" rel="stylesheet" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script language="javascript" type="text/javascript">
  $(document).ready ( function(){
    $('#UpdWordForm').find('input[id="id_name"]').prop('readonly', true);
    //$('#UpdWordForm').find('input[id^="id_image*"]').prop('onchange', 'imgchanged(this)');
  });
  var timer = null;
  function playSound(mp3) {
     $('#dummy').html("<audio preload='auto' autoplay src='"+mp3+"' type='audio/mpeg'></audio>");
     //$('#dummy').html("<embed autostart='true' height=0 width=0 src='"+mp3+"'></embed>");
  };
  function callback(mp3) {
      playSound(mp3);
  };
  function delayPlay(mp3) {
      clearTimeout(timer);
      var cb = "callback('"+mp3+"')";
      timer = setTimeout(cb, 500);
  };
  function showForm(form) {
    if (document.getElementById(form).style.display == 'none') {
      //$('form:not(#'+form.id+')').hide();
      $('form').hide();
      $('#'+form).show();
    } else {
      $('#'+form).hide();
    }
  };
  function checkall(t) {
    if (t.checked) {
      $('#DelWordForm').find('input[name="delwords"]').prop('checked', true);
    } else {
      $('#DelWordForm').find('input[name="delwords"]').prop('checked', false);
    }
  };
  function radioOn(name) {
    phonetics = $('#'+name+'div').find('li[id="id_phonetics"]').text().replace('[','').replace(']','');
    var means = [];
    $('#'+name+'div').find('li[id="id_mean"]').each(function() { means.push($(this).text()) });
    mean = means.join("\n");
    $('#UpdWordForm').find('input[id="id_name"]').prop('value', name);
    $('#UpdWordForm').find('input[id="id_phonetics"]').prop('value', phonetics);
    //waste a lot of time on .text(), that will not change the textarea once modified the content, use .val() !!!!
    $('#UpdWordForm').find('textarea[id="id_mean"]').val(mean);
  };
  function imgchanged(input,id) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
          $('#img_'+id).attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  };
</script>
<div class='jumbotron'>
  <label>{{book}}</label>
  <h1>{{lesson}}</h1>
  <button class="btn btn-primary btn-lg" onclick="showForm('RenameForm' )">修改名称</button>
  <button class="btn btn-success btn-lg" onclick="showForm('AddWordForm')">添加单词</button>
  <button class="btn btn-danger btn-lg"  onclick="showForm('DelWordForm')">删除单词</button>
  <button class="btn btn-warning btn-lg" onclick="showForm('UpdWordForm')">修改单词</button>
  {% if showform == "RenameForm" %}
  <form id="RenameForm" method="post" action="/admin/book/{{book}}/lesson/{{lesson}}/" style="display:block">
  {% else %}
  <form id="RenameForm" method="post" action="/admin/book/{{book}}/lesson/{{lesson}}/" style="display:none">
  {% endif %}
    {% csrf_token %}
    <input type="text" name="newname">
    <input type="hidden" name="extra" value="rename">
    <input type="submit" value="提交">
    <strong>{{warning}}</strong>
  </form>
  {% if showform == "AddWordForm" %}
  <form id="AddWordForm" enctype="multipart/form-data" method="post" action="/admin/book/{{book}}/lesson/{{lesson}}/" style="display:block">
  {% else %}
  <form id="AddWordForm" enctype="multipart/form-data" method="post" action="/admin/book/{{book}}/lesson/{{lesson}}/" style="display:none">
  {% endif %}
    {% csrf_token %}
    {{AddWordForm|crispy}}
    <input type="hidden" name="extra" value="addword">
    <input type='submit' value='提交'>
    <strong>{{ warning }}</strong>
  </form>
  {% if Showform == "DelWordForm" %}
  <form id="DelWordForm" style="display:block" method="post" action="/admin/book/{{book}}/lesson/{{lesson}}/">
  {% else %}
  <form id="DelWordForm" style="display:none" method="post" action="/admin/book/{{book}}/lesson/{{lesson}}/">
  {% endif %}
    {% csrf_token %}
    <label>请选择要删除的单词</label>
    <input type='checkbox' name='delinfos'>从词库中删除
    <input type='checkbox' name='delaudio'>删除音频
    <input type='checkbox' name='delimage'>删除图片<br>
    <input type='checkbox' onclick="checkall(this);">全选<br>
    {% for word in words %}
    <input type='checkbox' name='delwords' value='{{word.name}}'>{{word.name}}
    {% endfor %}
    <input type='hidden' name='extra' value='delword'>
    <input id="deletesubmit" type="submit" value="delete">
    <strong>{{ warning }}</strong>
  </form>
  {% if showform == "UpdWordForm" %}
  <form id="UpdWordForm" enctype="multipart/form-data" method="post" action="/admin/book/{{book}}/lesson/{{lesson}}/" style="display:block">
  {% else %}
  <form id="UpdWordForm" enctype="multipart/form-data" method="post" action="/admin/book/{{book}}/lesson/{{lesson}}/" style="display:none">
  {% endif %}
    {% for word in words %}
    <input type='radio' name="updword" onclick='radioOn("{{word.name}}")'>{{word.name}}
    {% endfor %}
    {% csrf_token %}
    {{AddWordForm|crispy}}
    <input type="hidden" name="extra" value="updword">
    <input type='submit' value='提交'>
    <strong>{{ warning }}</strong>
  </form>
</div>
<!-- Cycle through entries -->
{% for word in words %}
<div id='{{word.name}}div'>  
  <h2> {{ word.name }} 
    <button class="btn btn-success" style="float:right" onclick="$(this).hide();location.href='/admin/book/{{book}}/lesson/{{lesson}}/word/{{word.name}}'">
      重新获取
    </button>
  </h2>
  <div class='row'>
    <div class="col-lg-8">
      <li style='display:inline' id='id_phonetics'><strong>[{{ word.phonetics }}]</strong></li>
      <li style='display:inline'>
      <a onmouseover="delayPlay('/media/audios/{{ word.name }}.mp3');"
          onmouseout ="clearTimeout(timer);" 
          onclick="playSound('/media/audios/{{ word.name }}.mp3');" 
          title="发音" href="javascript:;"><i class="fa fa-volume-up"></i></a>
      </li>
      {% for mean in word.mean %}
      <li id='id_mean'>{{mean}}</li>
      {% endfor %}
    </div>
    <div class="col-lg-4">
      <div id="carousel-example-captions-{{word.name}}" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-captions-{{word.name}}" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-captions-{{word.name}}" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-captions-{{word.name}}" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" style="height:200px">
          <div class="item active">
            <!-- data-src="holder.js/900x500/auto/#777:#777" -->
            <img alt="900x500" src="/media/images/{{word.name}}/0.jpg">
          </div>
          <div class="item">
            <img alt="900x500" src="/media/images/{{word.name}}/1.jpg">
          </div>
          <div class="item">
            <img alt="900x500" src="/media/images/{{word.name}}/2.jpg">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-captions-{{word.name}}" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-captions-{{word.name}}" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<span id="dummy"></span>
{% endblock %}
