<HTML>
    <HEAD>
        <META http-equiv="Content-Type" content="text/html; charset=gb2312">
        <TITLE>收缩左边栏效果</TITLE>
        <STYLE type="text/css">
            td{font-size:12px;line-height:22px;}
            .red{color: #FF0000}
        </STYLE>
        <SCRIPT language="JavaScript">
            function show(){
                if(document.getElementById("left").style.display=='none'){ //判断目前左边栏的状态（显示、隐藏）
                    document.getElementById("left").style.display='block'; //显示左边栏
                }
                else{document.getElementById("left").style.display='none'; //隐藏左边栏
                }
            }
        </SCRIPT>
    </HEAD>
    <BODY>
        <TABLE width="98%" border="0" cellspacing="0" cellpadding="0" align="center">
            <TR>
                <TD id="left" width="200">点点右边的收缩按钮，看看我是不是进去了！</TD>
                <TD width="8" ><A href="javascript:show();"><IMG src="/static/images/s-audio.png" align="absmiddle" border="0"></A></TD>
                <TD valign="top">右侧</TD>
            </TR>
        </TABLE>

    </BODY>
</HTML>
