{% load staticfiles %}
<script src="{% static 'jquery/2.0.3/jquery.min.js' %}"></script>
<script>
function setStyle(me){
    $('.item').attr('style','color:black');
    $(me).attr('style','color:#ff0000');
    $('#submit_msg').html($(me).text());
    $('#input_style').attr('value',me.id);
}
</script>

<style type="text/css">
    .item {
        width:100%;
        margin:0 auto;
        font-size:32px;
        font-weight:bold;
        text-align:center;
    }
    h1 {
        text-align:center;
        font-size:300%;
    }
    form {
        font-size:64px;
        font-weight:bold;
        text-align:center;
    }
    input[type=submit] {
        width: 10em;  height: 2em;
        font-size: 64px;
    }
</style>
<h1>请选择画风</h1>
<div class="item" id="starry_night" onclick="setStyle(this)">
星空
  <img alt="starry_night" width="100%" src="/media/images/weixin-static/starry_night.jpg">
</div>
<div class="item" id="the_scream" onclick="setStyle(this)">
呐喊
  <img alt="the_scream" width="100%" src="/media/images/weixin-static/the_scream.jpg">
</div>
<form id='setstyleform' method="post" action="/neural-task-prepost/">
    <input hidden='true' id='input_style' name='style' value=''>
    <input hidden='true' id='input_mediaid' name='mediaid' value='{{MediaID}}'>
    <div>您已选择<strong id='submit_msg' style='color:red'></strong>画风</div>
    <input type="submit" onclick="this.disabled=true; this.value='提交中...';$('#setstyleform').submit();" value="提交">
</form>

<div class="item">
  <img alt="900x500" width="50%" src="/media/images/weixin-static/qrcode_for_gh_1.jpg">
</div>
