{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if success_message %}
<br/>
<div class="alert alert-success alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
{{ success_message }}
</div>
{% endif %}

{% if user.teacher %}

<div class="row">
  <div class="page-header">
    <h2>教师可见：奖品请求列表</h2>
  </div>
  {% for pq in prize_queries %}
  <div class="col-sm-6 col-md-3">
    <div title="兑换奖品" class="thumbnail">
      <div class="caption">
        <h4>请求者：{{ pq.user.username }}</h4>
        <h4>奖品名：{{ pq.prize.name }}</h4>
        <p>奖品分类：{{ pq.prize.category }}</p>
        <p>请求价格：{{ pq.value }}</p>
        <p>请求数量：{{ pq.amount }}</p>
        <p>请求时间：{{ pq.date }}</p>
        <p>当前价格：{{ pq.prize.value }}</p>
        <p>当前数量：{{ pq.prize.amount }}</p>
        <p>奖品上架时间：{{ pq.prize.date }}</p>
        <a href="/prize_query/{{ pq.id }}" class="btn btn-primary" role="button">接受</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row">
  <div class="page-header">
    <h2>教师可见：管理奖品</h2>
  </div>
<div class="col-lg-3">
<div class="well">
<form class="bs-example form-horizontal" method="post" action="{% url 'prize_admin' %}">
  {% csrf_token %}
  <legend>新增奖品</legend>
  {{ form | crispy }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">新增奖品</button>
    </div>
  </div>
</form>
</div>
</div>
</div>
{% endif %}

<div class="row">
  <div class="page-header">
    <h2>可以兑换的奖品</h2>
  </div>
  {% for prize in prizes %}
  <div class="col-sm-6 col-md-3">
    <a title="兑换奖品" href="/prize/{{ prize.id }}" class="thumbnail">
      <div class="caption">
        <h3>{{ prize.name }}</h3>
        <h4>分类：{{ prize.category }}</h4>
        <p>价格：{{ prize.value }}</p>
        <p>数量：{{ prize.amount }}</p>
        <p>奖品上架时间：{{ prize.date | date }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

<div class="modal hide fade" id="confirm-dialog">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Confirm</h3>
	</div>
	<div class="modal-body">
		&nbsp;
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-danger">Ok</a>
		<a href="#" class="btn btn-cancel" data-dismiss="modal">Cancel</a>
	</div>
</div>

{% endblock %}