{% extends 'base.html' %}

{% block content %}

{% if success_message %}
<br/>
<div class="alert alert-success alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
{{ success_message }}
</div>
{% endif %}

{% if error_message %}
<br/>
<div class="alert alert-error alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
{{ error_message }}
</div>
{% endif %}

{% endblock %}

{% block body_footer %}
{% if success_message %}
<script>
window.setTimeout(function() {
    window.location.href = '{% url "prize" %}';
}, 5000);
</script>
{% endif %}
{% endblock %}