{% extends 'crike_django/base_index_view.html' %}

{% block content %}
    <link href="/static/blog.css" rel="stylesheet" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
      var timer = null;
      function playSound(mp3) {
          $('#dummy').html("<audio preload='auto' autoplay src='"+mp3+"' type='audio/mpeg'></audio>");
      }
      function callback(mp3) {
          playSound(mp3);
      }
      function delayPlay(mp3) {
          clearTimeout(timer);
          var cb = "callback('"+mp3+"')";
          timer = setTimeout(cb, 1000);
      }
    </script>
    <div class='jumbotron'>
      <h1>Crike -- {{dic}}/{{lesson}} sum:{{Words|length}}</h1>
      <form method="get" action="http://127.0.0.1:8000/upload/">
        <input type="submit" value="upload">
      </form>
    </div>
<!-- Cycle through entries -->
    <div class='row'>
    {% for word in Words %}
      <h2> {{ word.name }} </h2>
      <p>
        <li{display:inline}><strong> [{{ word.phonetics }}] </strong></li>
        <li{display:inline}>
        <a onmouseover="delayPlay('http://127.0.0.1:8000/media/audios/{{ word.name }}.mp3');"
            onmouseout ="clearTimeout(timer);" 
            onclick="playSound('http://127.0.0.1:8000/media/audios/{{ word.name }}.mp3');" 
            title="发音" href="javascript:;"><img src="/static/images/s-audio.png"/></a>
        </li>
      </p>

      {% for mean in word.mean %}
      <p>
        <li id={{word.name}}pos{{forloop.counter}}>{{mean}}</li>
      </p>
      {% endfor %}
      {% for pos in word.pos %}
        <script>
            d = $('#{{word.name}}pos{{forloop.counter}}');
            d.text(('{{pos}} ').replace("&amp;","&")+d.text());
        </script>
      {% endfor %}
      <form method="get" action="http://127.0.0.1:8000/delete">
        <input type="hidden" name="id" value="{{word.id}}">
        <input type="submit" value="delete">
      </form>
    {% endfor %}
    </div>
    <span id="dummy"></span>
{% endblock %}
