<!DOCTYPE HTML>
<html>
  <head>
    <link href="/static/blog.css" rel="stylesheet" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
        var timer = null;
        function playSound(mp3) {
            $('#dummy').html("<embed src=\""+mp3+"\" hidden=\"true\" autostart=\"true\" loop=\"false\" />");
        }
        function callback(mp3) {
            playSound(mp3);
        }
        function delayPlay(mp3) {
            clearTimeout(timer);
            var cb = "callback('"+mp3+"')";
            timer = setTimeout(cb, 100);
        }
    </script>
  </head> 
  <body>
    <h1>Crike</h1>
    <form method="get" action="http://127.0.0.1:8000/upload/">
      <input type="submit" value="upload">
    </form>
<!-- Cycle through entries -->
    {% for word in Words %}
      <h2> {{ word.name }} </h2>
      <!--audio id="{{word.name}}" src="http://127.0.0.1:8000/audios/{{word.name}}" preload="auto"></audio>
      <a href="javascript:play_single_sound();">Play 5-sec sound on single channel</a>
      <script type="text/javascript">
        function play_single_sound() {
          document.getElementById('{{word.name}}').play();
        }
      </script-->
      <p>
        <li{display:inline}>
        <a onmouseover="delayPlay('http://127.0.0.1:8000/media/audios/{{ word.name }}.mp3');"
            onmouseout ="clearTimeout(timer);" 
            onclick="playSound('http://127.0.0.1:8000/media/audios/{{ word.name }}.mp3');" 
            title="发音" href="#" class="ico_sound">READ</a>
        </li>
        <li{display:inline}> [{{ word.phonetics }}] </li>
      {% for mean in word.mean %}
        <li{display:inline}>{{ mean }}</li>
      {% endfor %}
      </p>
      <form method="get" action="http://127.0.0.1:8000/delete">
        <input type="hidden" name="id" value="{{word.id}}">
        <input type="submit" value="delete">
      </form>
      {% endfor %}

    <span id="dummy"></span>
  </body>
</html>
