{% load i18n %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crike</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="navbar-brand" href="{% url "index" %}">Crike</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% active request "index" %}"><a href="{% url "index" %}">{% trans "Home" %}</a></li>
                    <li class="{% active request "auth" %}"><a href="{% url "auth" %}">{% trans "Auth" %}</a></li>
                    <li class="{% active request "dict" %}"><a href="{% url "dict" %}">{% trans "Dict" %}</a></li>
                    <li class="{% active request "lesson" %}"><a href="{% url "lesson" %}">{% trans "Lesson" %}</a></li>
                    <li class="{% active request "exam" %}"><a href="{% url "exam" %}">{% trans "Exam" %}</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
                </ul>
                
                {% if user.is_authenticated %}
                    <ul class="nav pull-right">
                        <span class="label label-inverse">{% trans 'Hello' %} {{ user.username }},</span>
                        <li class="divider-vertical"></li>
                        <a href="{% url "django.contrib.auth.views.password_change" %}">{% trans "Change password" %}</a>
                        <a class="btn btn-inverse" href="{% url "django.contrib.auth.views.logout" %}">{% trans 'Leave' %}</a>
                    </ul>

                {% else %}
                <form class="navbar-form pull-right" action="{% url "django.contrib.auth.views.login" %}" method="post">
                    {% csrf_token %}
                    <input type="text" class="input-small" id="id_username" placeholder="{% trans 'Username' %}">
                    <input type="password" class="input-small" id="id_password" placeholder="{% trans 'Password' %}">
                    <button type="submit" class="btn">{% trans 'Log in' %}</button>
                </form>
                {% endif %}

            </div><!-- /.nav-collapse -->
        </div>
    </div>

    <div class="container">
    {% block container %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <hr>
    <footer>
        <p>By <a href="#">geekan&geekben</a> &copy; <a href='https://github.com/crike/crike'>CrikeProject</a> 2013</p>
    </footer>
    </div> <!-- /container -->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wysihtml5/0.3.0/wysihtml5.min.js"></script>
    <![endif]-->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script> -->

  </body>
</html>
