{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
<style type="text/css">{% include "css/index_cover.css" %}</style>
<script src="http://cdn.bootcss.com/holder/2.0/holder.js"></script>
<script language="javascript" type="text/javascript">
  var timer = null;
  function playSound(mp3) {
     //$('#dummy').html("<audio preload='auto' autoplay src='"+mp3+"' type='audio/mpeg'></audio>");
     $('#dummy').html("<embed autostart='true' style='float:left' height=0 width=0 src='"+mp3+"'></embed>");
  }
  function callback(mp3) {
      playSound(mp3);
  }
  function delayPlay(mp3) {
      clearTimeout(timer);
      var cb = "callback('"+mp3+"')";
      timer = setTimeout(cb, 500);
  }
</script>
{% endblock %}
{% block container_header %}
<div class="index_container">
  <div id="index_cover">
    <div style="margin: 10% 30%;">
    <h1 style="color: white;">Crike [kraɪk] 
    <a onmouseover="delayPlay('/media/audios/crike.mp3');"
        onmouseout ="clearTimeout(timer);" 
        onclick="playSound('/meida/audios/crike.mp3');" 
        title="发音" href="javascript:;"><i class="fa fa-volume-up"></i></a>
    </h1>
    <p>
      {% if user.is_authenticated %}
          
        {% if user.student %}
        亲爱的学生 <a href="/home/" title="GoTo我的主页"><strong>{{ user.username }}</strong></a>
        {% elif user.teacher %}
        亲爱的教师 <a href="/home/" title="GoTo我的主页"><strong>{{ user.username }}</strong></a>
        {% else %}
        亲爱的管理员 <a href="/home/" title="GoTo我的主页"><strong>{{ user.username }}</strong></a>
        {% endif %}
          欢迎回来！

      {% else %}
      <!-- 弹出框相关 -->
        <button data-toggle="modal" data-target="#loginModal" class="btn btn-primary">登录</button>
        <button data-toggle="modal" data-target="#registerModal" class="btn btn-success">注册</button>
      {% endif %}
    </p>
    <p>{% trans "学习赢积分，有奖品哦！" %}</p>
    </div>

  </div>

      <div class="nextdoor-bottom">
        <div class="nextdoor-row">
            <a class="nextdoor-item1" href="#search-crike">在Crike中搜索</a>
            <a class="nextdoor-item2" href="#library-section">浏览Crike资源库</a>
            <a class="nextdoor-item3" href="#mission-statement">认识Crike的各方各面</a>
            <a class="nextdoor-item4" href="#stories-section">提出建议与讨论</a>
        </div>
      </div>
</div>

{% endblock %}

{% block content %}
    <!-- Carousel
    ================================================== -->
      <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
          <li data-target="#carousel-example-captions" data-slide-to="3" class=""></li>
          <li data-target="#carousel-example-captions" data-slide-to="4" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="{% static 'images/pupils/pupils_silder_home (1).jpg' %}">
          </div>
          <div class="item">
            <img src="{% static 'images/pupils/pupils_silder_home (2).jpg' %}">
          </div>
          <div class="item">
            <img src="{% static 'images/pupils/pupils_silder_home (3).jpg' %}">
          </div>
          <div class="item">
            <img src="{% static 'images/pupils/pupils_silder_home (4).jpg' %}">
          </div>
          <div class="item">
            <img src="{% static 'images/pupils/pupils_silder_home (5).jpg' %}">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>

  <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>英语简介</h2>
              <p>近两个世纪英国和美国在文化、经济、军事、政治和科学上的绝对领先地位使得英语成为最重要的国际语言。英语也是与电脑联系最密切的语言，大多数编程语言都与英语有联系，而且随着网络使用，使英文使用更为普及。 </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>单词记忆</h2>
              <p>运用图像记忆法来记忆英语单词，关键在于把抽象的字母转化为熟悉的图像，然后把这些图像组合起来进行联想。这样，原本抽象的单词就能变成一个生动的画面，就能像看电视、看电影那样来进行记忆，不仅记得快、记得牢，而且记忆的过程充满着乐趣，会让你从此爱上背单词！ </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>阅读理解</h2>
              <p>阅读理解是最重要的英语能力之一，同时也是分值最高的考题。大量的英语阅读是培养英语思维，提高写作和英语表达能力的根本。 </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div><!--/span-->
</div>
 <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>英语与生活</h2>
              <p>你可以不看韩剧，可以不看日剧，但你不看美国大片吗；出国旅游你只需学会一种语言即可走遍天下，那就是英语 </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>英语与工作</h2>
              <p>贸易全球化已经不可阻挡，跨国贸易离不开语言交流，而英语是大家普遍使用的交流工具；跨国公司的对人才的要求，英语是必备技能。 </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>英语与学习</h2>
              <p>很长一段时间以来，世界的技术和文化中心都在英语国家，非英语母语国家在科学研究方面也离不开英语；世界知名的学术期刊，学术会议，学术文献绝大多数使用英语。 </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div><!--/span-->
  </div>
<span id="dummy"></span>
{% endblock %}
